<div class="row error-status error-404">
	<div class="span11">
		<div id="error-page" class="main">
		
			<div class="error-copy">	<h1>Um, there isn't anything here.</h1> <p>Return to the<a href="#">homepage</a> </p>
		</div>
	</div>
</div>

<div class="row error-status error-500">
	<div class="span11">
		<div id="error-page"  class="main">
	<div class="error-copy">
			<h2>Oops</h2><p>Unfortunately we've encountered a problem. Trust us, we're working on it. Return to the <a href="#">homepage</a>, OR <a href="#">reload the page</a>. </p></div>
		</div>
	</div>
</div>

<!-- {{debugInfo}} -->

