<div class="row error-status error-400">
	<div class="span12">
		<div class="main">		
			<div class="error-copy">	
				<h1>We're sorry, but we don't understand.</h1> 
				<p>Return to the <a href="/">homepage</a> </p>				
			</div>
		</div>
	</div>
</div>

<div class="row error-status error-404">
	<div class="span12">
		<div class="main">		
			<div class="error-copy">	
				<h1>We're sorry, but there isn't a webpage here.</h1> 
				<p>Return to the <a href="/">homepage</a> </p>
			</div>
		</div>
	</div>
</div>

<div class="row error-status error-500">
	<div class="span12">
		<div class="main">
			<div class="error-copy">
				<h2>Oops!</h2>
				<p>Unfortunately we've made a mistake.<p>
				<p>Return to the <a href="/">homepage</a>, OR <a href="/">reload the page</a>. </p>
			</div>
		</div>
	</div>
</div>

<!-- {{debugInfo}} -->

