<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>{{#if sitename}}{{sitename}}{{else}}Safeharbor.in{{/if}}{{#if pageTitle}} - {{pageTitle}}{{/if}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/dash/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="/dash/css/safe_bootstrap.css" rel="stylesheet">
    <link href="/dash/css/bootstrap-responsive.css" rel="stylesheet">

	<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/dash/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/dash/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/dash/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/dash/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/dash/ico/apple-touch-icon-57-precomposed.png">

	<!-- JS is ordinarily at the end for speed but we need it before the body so that view pages 
		can load custom libraries which rely on JQuery-->
	<!-- fixme: shouldn't this be /js/libs/jquery-1.7.1.min.js instead of whatever is in /dash ?-->
    <script src="/dash/js/jquery.js"></script>

	<!-- Add fancyBox main JS and CSS files -->
	<link rel="stylesheet" type="text/css" href="lightbox/jquery.fancybox.css?v=2.1.2" media="screen" />

  </head>

  <body class="{{#if bodyClass}}{{bodyClass}}{{/if}}">
    <div class="container">
	
		<!--Begin Main (Top Level) Navigation for Safeharbor-->
		{{#unless suppressNavigation}}
	    <div class="navbar navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </a>
              <div class="nav-collapse collapse">
            <ul class="nav">{{! almost certainly cruft }}
            </ul>

				{{#if user.email}}
				 <ul class="nav pull-right">
				    <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i>{{user.email}} <b class="caret"></b></a>
				      <ul class="dropdown-menu">
				        <li><a href="/account">Account Settings</a></li>
				        <li><a href="/logout">Logout</a></li>
				      </ul>
				    </li>
				 </ul>
				{{/if}}
				{{#unless user.email}}
				<form class="navbar-form pull-right" action="/login" method="post">
				  <input class="span2" type="text" placeholder="Email" name="email"> 
				   <input class="span2" type="password" placeholder="Password" name="password">    <span class="login-help">Lost password</span>           <button type="submit" class="btn">Sign in</button>
				</form>    
				{{/unless}}

	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>
		{{/unless}}
		<!--End Navigation-->		
	
		{{#each messages}}
		<div {{#if class}}class="{{class}}"{{/if}}>
		    <div class="alert alert-{{level}}" style="text-align:center">
				<button type="button" class="close" data-dismiss="alert">×</button>			
		        <p><i class="icon-{{status}}"></i> {{{title}}}</p>
		        <p>{{{text}}}</p>            
		    </div>
		    {{#if quicktip}}<p class="quicktip"><small><i class="icon-info-sign"></i>{{quicktip}}</small></p>{{/if}}
		</div>
		{{/each}}
			
		{{#if show-nav-for-dashboard}}
		<!--This block describes the secondary tabbed navigation on the website. It is needed for the listings 
			of disputes and for the website settings page. -->

		{{#if "single-site-open-disputes"}}
		<!--Show this header if the user has only one web site -->
		<div class="row">
			<div id="page-header" class="span11">
				<div class="company-logo-box"><div class="company-logo"><img src='{{sitelogo}}' alt="{{sitename}}" /></div></div> 
				{{#if false}}
				This code stubbed out for work on the "passive listings" milestone, because this code
				doesn't make sense until the "close dispute" button is re-enabled.
				<h1 class="single-site">{{dispute-count}} Open Disputes</h1>
				{{/if}}
				<h1 class="single-site">{{dispute-count}} Disputes</h1>			
			</div>
		</div>
		<!--End Page Header for a user with a single website -->
		{{/if}}

		<!--Tabbed nav block for the dashboard -->
		<div class="tabbable">

			<ul class="nav nav-tabs">
				<li {{{setOpenAsActiveTab}}}><a href="/">Disputes</a></li>			
				{{#if false}}
				This code stubbed out for work on the "passive listings" milestone, because this code
				doesn't make sense until the "close dispute" button is re-enabled.
				<li {{{setOpenAsActiveTab}}}><a href="/">Open Disputes</a></li>
				<li {{{setClosedAsActiveTab}}}><a href="/closed">Closed Disputes</a></li>
				{{/if}}
				<li {{{setSettingsAsActiveTab}}}><a href="/settings">Settings</a></li>	
				
				<li class="pull-right search"><!-- Search Bar -->
					<div class="input-append">
					<form action="/query" method="get" style="display:inline; margin:0;padding:0"><input class="span3" id="appendedInputButtons" name="needle" size="16" type="text" placeholder="Search All Disputes"><button class="btn" type="button"><i class=" icon-search"></i> Search</button></form></div></li>

			</ul>

			<div class="main tab-content"><!-- NEVER CLOSED? -->
				<div class="tab-pane active"><!-- removed this inactive attribute: id="tab1 open" -->
					
					{{#if false}}Sort back end borked for now. https://github.com/lucasgonze/Safeharbor.in/issues/220{{/if}}
					<!--Begin Sort Listing of Disputes by Newest to Oldest Toggle-->
					<div class="row">
						<div id="sort-list">
							{{#if false}} can't fix the bugs in this today and need to move on and it's not totally necessary.
							{{#if single-site-open-disputes}}
							<a href="?desc" id="sort-list-link" class="btn pull-right"><i class=" icon-chevron-up"></i> Sorted Newest to
						Oldest</a>
						<!--
						note: Lucas this is the other side of the toggle, on activating sorting newest to oldest, flip to this here 

						<a href="#" id="sort-list-link" class="btn pull-right"><i class=" icon-chevron-down"></i> Sorted Oldest to
						Newest</a>
						-->
						{{/if}}
						{{/if}}
						</div><!-- /sort-list -->
					</div><!-- /row -->
					<!--End Sort Listing of Disputes by Newest to Oldest Toggle-->

{{/if}}<!-- /show-nav-for-dashboard -->

				   {{{body}}}

{{#if show-nav-for-dashboard}}
				</div><!-- /tab-pane -->
			</div><!-- /tab-content -->
		</div><!-- /tabbable -->
		<!-- /Tabbed nav block for the dashboard -->
{{/if}}

		<!-- BEGIN global footer -->
		{{#unless suppressNavigation}}	
		<div class="row">
			<div class="span12">
				<footer class="footer">
					<p class="pull-right"><a href="#">Back to top</a></p>
					<p>This tool for managing alleged copyright infringement is provided for {{site.name}} by SafeHarbor.in. <p>SafeHarbor.in provides services for DMCA compliance. Our mission is to reduce risk, expense, and stress for web sites while being effective and efficient for copyright owners.  </p>
					<p>Our Code is licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
					<ul class="footer-links">
						<li><a href="#">Copyright @Safeharbor 2012</a></li>
						<li><a href="#">Company</a></li>

						<li><a href="#">Terms of Service</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</footer>
			</div><!-- /span12 -->
		</div>
		{{/unless}}
		<!-- END global footer -->

    </div><!-- /container -->

    <script src="/dash/js/bootstrap-alert.js"></script>
    <script src="/dash/js/bootstrap-dropdown.js"></script>
	<script src="/js/libs/jquery-validation-x/jquery.validate.min.js"></script>
    <script src="/js/script.js"></script>
	<script type="text/javascript" src="lightbox/jquery.fancybox.js?v=2.1.3"></script>

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-35975225-1']);
	  _gaq.push(['_setDomainName', 'safeharbor.in']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
  </body>
</html>
<!-- {{debugInfo}} -->