
  <div class="row">
    <div id="account_settings_form">
		<!--Begin Form for filling out your Account Information-->

		<!--Note to Lucas: Here is the form behavior we were talking about for this form: https://www.tumblr.com/settings/account -->

		<form class="span10 form-horizontal" action="/account" method="post">
		<legend>Your Account Information</legend>
   
			<div class="email">
				<div class="control-group">
				  <label class="control-label" for="input_email">Email Address</label>

				  <div class="controls">
				    <input type="text" id="input_email" name="input_email" placeholder="Email" value="{{user.email}}" /> <span class=
				    "required help-inline">*required</span><span class="help-block">This is the
				    email address associated with your account.</span>
				  </div>
				</div>
			</div>

{{#if true}}
          <div class="row"> 
            <div class="span10 control-group">
              <label class="control-label" for="current_password">Current Password</label>

              <div class="controls">
                <input type="password" id="current_password" name="current_password" placeholder="" /><span class="help-block"></span>

              </div>
            </div>
</div>
            <div class="row">
              <div class="span4 control-group ">
                <label class="control-label" for="new_password">New Password</label>

                <div class="controls">
                  <input type="text"  id="new_password" name="new_password" placeholder="New Password" disabled />
                </div>
              </div>
              </div>
         <div class="row">
              <div class="span4 control-group">
                <label class="control-label" for="confirm_password">Confirm New
                Password</label>

                <div class="controls">
                  <input type="text" id="confirm_password" name="confirm_password" placeholder="Confirm New Password" disabled />
                </div>
              </div> 
            </div>
{{/if}}

	{{#if false}} 
	Disabling alarms until the milestone for implementing administrator controls.
	<div id="alarm">
		<legend>Alarm <span class="small">An alarm goes off when a dispute is not closed on time</span></legend>

		<div class="control-group">
			<label class="control-label" for="inputAlarm">Hours before alarm goes off</label>
			<div class="controls">
				<input type="text" class="span1" id="inputAlarm" name="inputAlarm" placeholder="3">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputAlarmEmail">When the alarm goes off, send an email to this address</label>
			<div class="controls">
				<input type="text" id="inputAlarmEmail" name="inputAlarmEmail" placeholder="you@youremail.com">
			</div>
		</div>
	</div>
	{{/if}}
        
	<div class="no-gray form-actions">
		<button type="submit" class="btn btn-primary">Save changes</button>
		<button type="button" class="btn">Cancel</button>
	</div>

</form>

</div>
<!--End Form for filling out your account information-->
</div>
       

  