{{{alert-from-reset}}}

<div class="narrowblock">
	<form action="/login" method="post" id="loginform" class="bigass hideerroruntilfail {{loginStatus}}">

		<div class="alert alert-error">
			<!-- fixme: on typing, hide error message -->
			Not found. 
		</div>

		{{{alert-from-create}}}

		<p class="upper">Email address</p>
		<p><input type="text" placeholder="your-email@example.com" autofocus required name="email"></p>
		<p class="upper">Password</p>
		<p><input type="password" placeholder="***" required name="password"></p>
		<p><input type="submit" class="btn btn-primary btn-large" value="Sign in"></p>

		<div style="text-align: left">
			<p><a href="/lostpassword">Lost password</a></p>
			<p><a href="/reg">Create account</a></p>
		</div>
	</form>

</div>

