<div class="row">
<div class="span12">
<div class="main">
<div id="login_form">
      <!--Begin Form for logging into the Website-->
<div id="form_leftside">
	<form action="/lostpassword" method="post" id="lostpassword" class="span11 form-horizontal hideerroruntilfail {{status}}">

		<div class="alert alert-error">
			<!-- fixme: on typing, hide error message -->
			Not found. 
		</div>

 <legend>Retrieve your Password</legend> 
 
<div class="control-group">
              <label class="control-label" for="">Your Email Address</label>

              <div class="controls">
                <input type="text" id="email" name="email" autofocus placeholder=
                "email@exampleemail.com" value="email@exampleemail.com" />
              </div>
            </div><!--URL of Website-->

 <div class="no-gray form-actions">
              <button type="submit" class="btn btn-large btn-inverse">Recover Email</button>
</div>
	
			</form>
</div>
</div>
</div>