<div class="bigass narrowblock">
	{{{alert}}}

	<form action="/passwordreset" id="passwordresetform" method="post" style="{{nastykludge}}">
		<p class="upper">Current password:</p>
		<p><input type="password" placeholder="*****" name="current" autofocus id="current"></p>	
		<p class="upper">New password:</p>
		<p><input type="password" placeholder="*****" name="newpassword" id="newpassword" ></p>
		<p class="upper">Repeat new password:</p>
		<p><input type="password" name="confirm" id="confirm" ></p>
		<br>
		<p><input type="submit" class="btn btn-primary btn-large" value="Save"></p>	
	</form>
</div>