<!-- coder beware: siteditor.html and fromemail.html must have the same contents, mainly. -->

	<p>Your copyright form is live at <a href="/inbox/{{{idhash}}}">http://safeharbor.in/inbox/{{{idhash}}}</a></p>
	<p>To use it paste this HTML code into your site: 
		<code>&lt;a href="http://safeharbor.in/inbox/{{{idhash}}}">Copyright&lt;/a></code>
	</p>
	

<div class="bigass notsonarrowblock">

	<form action="/siteeditor" method="post" id="siteeditor">

		<fieldset>
			<p class="upper">Title of your site:</p>
			<p><input type="text" value="{{{sitename}}}" name="sitename" id="sitename"></p>
			<p class="upper">Domain name of your site:</p>
			<p><input type="text" value="{{{domain}}}" name="domain" id="domain"></p>
		</fieldset>
		
		<fieldset>
			<p class="upper">Street address for mailed DMCA notifications:</p>
			<textarea required name="agentaddress" id="mailing">{{{agentaddress}}}</textarea>
			<p class="upper">Email address for DMCA notifications:</p>
			<p><input type="text" value="{{{agentemail}}}" name="agentemail"></p>
			<p class="upper">Name of designated agent:</p>
			<p><input type="text" value="{{{agentname}}}" name="agentname" id="agentname"></p>
			<p class="upper">Phone number of designated agent:</p>
			<p><input type="text" value="{{{agentphone}}}" name="agentphone" id="agentphone"></p>
			<p class="tip"><i class="icon-info-sign"></i> If you have a <a href="http://www.copyright.gov/onlinesp/" target="safeharbor.in-newwin">designated agent</a>, the postal address and email address MUST be their information.</p>
		</fieldset>		
		<p style="margin-top: 2em"><input class="btn btn-primary btn-large"" type="submit" value="Save"></p>
	</form>
</div>