	<p>Your copyright form is live at <a href="/box/{{{idhash}}}">http://safeharbor.in/box/{{{idhash}}}</a></p>
	<p>To use it paste this HTML code into your site: 
		<code>&lt;a href="http://safeharbor.in/box/{{{idhash}}}">Copyright&lt;/a></code>
	</p>
	
<div class="bigass notsonarrowblock">

	<form action="/siteeditor" method="post" id="siteeditor">

		<p class="upper">Title of your site:</p>
		<p><input type="text" value="{{{sitename}}}" name="sitename" id="sitename"></p>
		<p class="upper">Domain name of your site:</p>
		<p><input type="text" value="{{{domain}}}" name="domain" id="domain"></p>
		<p class="upper">Mailing address of your <a href="http://www.copyright.gov/onlinesp/" target="safeharbor.in-newwin">designated agent to receive notifications of claimed infringement</a>:</p>
		<textarea required name="agentaddress" id="mailing">{{{agentaddress}}}</textarea>
		<p class="upper">Email address of your designated agent:</p>
		<p><input type="text" value="{{{agentemail}}}" name="agentemail"></p>

		<p style="margin-top: 2em"><input class="btn btn-primary btn-large"" type="submit" value="Save"></p>

	</form>
	
	
</div>