<!DOCTYPE html>
<html>
  <head>
    <title>SafeHarbor</title>
    <META NAME="keywords" CONTENT="DMCA takedown, DMCA notice, DMCA  copyright, DMCA, copyright infringement, copyright law, copyright, compliance, lawsuits, law, complaint, registered agent, digital rights, digital millenium copyright act, music, videos, user generated content, guidelines">
    <META NAME="description" CONTENT="We specialize in technology for handling DMCA requests because raising the bar on this technology can create a more fair world for web sites, for their users, and for copyright owners">
    <META NAME="abstract" CONTENT="We have created reusable forms for accepting DMCA takedown requests. Our forms are exhaustively doub">
    <META HTTP-EQUIV="Content-Language" CONTENT="EN">
    <META NAME="author" CONTENT="Safeharbor Technologies">
    <META NAME="distribution" CONTENT="Global">
    <META NAME="revisit-after" CONTENT="30 days">
    <META NAME="copyright" CONTENT="Copyright Safeharbor Technologies">
    <META NAME="robots" CONTENT="FOLLOW,INDEX">
    <link href="/corporate_home/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/corporate_home/stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/corporate_home/stylesheets/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/corporate_home/stylesheets/blanca.css" media="screen" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!-- JS is ordinarily at the end for speed but we need it before the body so that view pages 
    can load custom libraries which rely on JQuery-->
    <!-- fixme: shouldn't this be /js/libs/jquery-1.7.1.min.js instead of whatever is in /dash ?-->
    <script src="/dash/js/jquery.js" type="text/javascript"></script>
  </head>

  <body class="corphome">
    
    <div id="nav" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
	    <div class="container-fluid">
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></a> 
	      <div class="nav-collapse">
	        <ul class="nav pull-right">
	          <!--   <li><a href="">Register</a></li> -->
	          <li>
	          <form action="/login" style="display:inline">
		        <button type="submit" class="btn btn-inverse">Sign in</button>
	          </form>
	          </li>
	        </ul>
	      </div>
	    </div>
      </div>
    </div>

	<div class="stripe">
		<div class="container">
			<h1 class="safeharbor">SafeHarbor.in</h1>
		</div>
	</div>

    <hr>

    <div class="stripe landing-message">
		<div class="container">
			<h3>We help online service providers handle DMCA takedown notices</h3>
		</div>
    </div>

    <div class="stripe ">
        <div class="container">
            <div class="row">
				<div class="span3">&nbsp;</div>
                <div class="span6">
					<h2>Registered Copyright Agents for Your Site</h2>
					<hr>
					<p>We act as your official point of contact for infringement notices. We're on record with the US Copyright Office and do the day to day work of handling notices.</p> 
					<p style="text-align:center; margin: 2em"><a href="/whitepaper/registeredagent.pdf" class="btn">View White Paper</a></p>
				</div><!-- .span6 -->
				<div class="span3">&nbsp;</div>
			</div>
		</div><!-- .container -->
	</div>


    <div class="stripe hide">
        <div class="container">
            <div class="row">
                <div class="span6">
					<h2>Registered Copyright Agents</h2>
					<hr>
					<p>All-in-one package:</p>
					<p>We act as your official point of contact for infringement notices, including the day to day work of handling them.</p> 
					<p style="text-align:center; margin: 2em"><a href="/whitepaper/registeredagent.pdf" class="btn">View White Paper</a></p>
				</div><!-- .span6 -->
                <div class="span6">
					<h2>DIY Helper</h2>
					<hr>
					<p>Starter kit:</p>
					<p>We set up your organization to handle infringement notices yourself, including software and training.</p> 
					<p style="text-align:center; margin: 2em"><a href="/whitepaper/DIY-Helper.pdf" class="btn">View White Paper</a></p>
				</div><!-- .span6 -->
			</div>
		</div><!-- .container -->
	</div>

    <hr>      
    <div class="stripe">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <img alt="Cloud" class="feature-icon" src="/corporate_home/images/thumb.png">

                    <h2>Get it right</h2>

                    <p>It's easy to make a mistake with DMCA rules. Outsourcing puts specialists on your side.</p>
                </div>

                <div class="span3">
                    <img alt="Browser" class="feature-icon" src="/corporate_home/images/people.png">

                    <h2>Worry Less</h2>

                    <p>Don't just cross your fingers and hope.</p>
                </div>

                <div class="span3">
                    <img alt="Music" class="feature-icon" src="/corporate_home/images/dollar.png">

                    <h2>Save Money</h2>

                    <p>Doing it all by yourself takes a lot longer. It's the expensive way to do it.</p>
                </div>

                <div class="span3">
                    <img alt="Music" class="feature-icon" src="/corporate_home/images/hourglass.png">

                    <h2>Stay Focused</h2>

                    <p>You need to concentrate on what you do that's unique.</p>
                </div>
            </div>
        </div>
    </div><!--End Product Facts -->


    <footer>
		<div id="footer" class="stripe-color">
			<div class="container">
				<div class="row">
					<div class="span3">
						<h6>Contact us:</h6>
						<address>
							<strong>SafeHarbor Technology, Inc.</strong><br>
							548 Market St #78343<br>
							San Francisco, CA 94104-5401<br>
							<abbr title="Phone">P:</abbr> (415) 967-1342<br>
							<abbr title="Email">M:</abbr>contact@safeharbor.in
						</address>
					</div>
				</div><!-- .row -->
				<div class="divider"></div>
				<div class="row last">
					<div class="span12">
						<p class="sub">&copy; Safeharbor 2013 | SafeHarbor Technology provides services for DMCA compliance. </p>
					</div><!-- .span12 -->
				</div><!-- .row .last -->
			</div><!-- .container -->
		</div><!-- #footer .stripe-color -->
    </footer>

	<script src="/dash/js/bootstrap-alert.js" type="text/javascript"></script> 
	<script src="/dash/js/bootstrap-dropdown.js" type="text/javascript"></script> 
	<script src="/js/libs/jquery-validation-x/jquery.validate.min.js" type="text/javascript"></script> 
	<script src="/js/script.js" type="text/javascript"></script> 
	<script type="text/javascript" src="lightbox/jquery.fancybox.js?v=2.1.3"></script>

  </body>
</html>
