
  	<div class="row show-grid">
  		<div class="span8">
  			<p class="bigblack">
				Do your users post content that poses copyright infringement risk?
  			</p>
  			<p class="bigblack">
				Have you ever received a DMCA takedown notice?
  			</p>
  			<p class="bigblack">
				Handling copyright issues is what we do best.  Using our tools will take the threat of copyright 
				disputes off your shoulders.  You can focus on what you do best.
  			</p>
  		</div>
  		<div class="span4">
  			<div class="row">
  				<h1>Get it right</h1>
  				<p class="medblack">
  					You won’t make costly mistakes complying with the DMCA rules because we’ve learned the law and streamlined the process for you.
  				</p>
  			</div>
  			<div class="row">
  				<h1>Worry Less</h1>
  				<p class="medblack">
  					Outsource copyright infringement liability worries to us and you will sleep better at night.
  				</p>
  			</div>
  			<div class="row">
  				<h1>Save Money</h1>
  				<p class="medblack">
  					We’re cheaper than developing software yourself or calling an attorney.
  				</p>
  			</div>
  		</div>
  	</div>	
  	<div class="row show-grid">
  		<div class="span8">
			<h1>It’s easy to get started:</h1> 
			<ol>
				<li><a href="/reg">Sign up</a></li>
				<li>Cheap fee (and free to the first 500 users)</li>
				<li>Add a link from your site to our site. (It's that simple.)</li>
			</ol>	
  		</div>
	</div>
	