
<div class="bigass">

	<div class="hero-unit">
		<p>The law can help you protect your web site from copyright infringement lawsuits, but it's easy to make a mistake. We help you get the law right.</p>
		<p style="text-align: center"><a class="btn btn-primary btn-large" href="/reg"><span style="margin: 6em">Try It</span></a></p>
	</div>

	<ol style="">
		<li>Our form is free and available now, saves the time and effort of creating it yourself</li>
		<li>Our forms comply with all the DMCA legal requirements</li>
		<li>Our forms gather all the information you need</li>
		<li>Our tool controls chaos: all the complaints you receive are in one place</li>
		<li>You receive frequent status updates</li>
		<li>Multiple infringements can be reported on one form</li>
		<li>Our tool identifies users who repeatedly generate complaints</li>
		<li>Using our tool is safer and easier than doing it yourself</li>
		<li>We update the form to keep in sync with changing laws and meet users’ needs.</li>
		<li>Did we mention "free"?</li>
	</ol>

</div>