			
<div id="demo0-1" class="not-demostep centered" style="margin-top: 6em">
		<h1><img src="/demo/img/safeharbor-logo-big.jpg" alt="SafeHarbor.in" class="safeharborlogo"></h1>
		<div class="well">
		<div class="starter"><a href="" id="start-demo" class="btn btn-inverse btn-large">Start Demo</a></div>
	</div>
</div><!-- #demo0-1 -->

<div id="big-blank-demo-prompt" class="demostep">
	<!-- empty, for when you want a demo prompt without any illustration -->
	<div class="row">
		<div class="span6 tell">
		</div><!-- .span6 -->
		<div class="span6 show">
		</div><!-- .span6 -->
	</div><!-- .row -->
</div><!-- #demo10 -->		

<div id="demosplash">
	<div id="demo0" class="demostep">
		<div class="row centered">
				<h2><img src="/demo/img/safeharbor-logo-big.jpg" alt="SafeHarbor.in" class="safeharborlogo"></h2>
		</div><!-- .row -->
	</div><!-- #demo0 -->
	
	<div id="demo10" class="demostep">
		<div class="row centered">
			<div class="span12">
				<p><img src="/demo/img/fullscreen.png" class="tgt" alt="Please set your browser to full-screen mode"></p>
			</div><!-- .span6 -->
		</div><!-- .row -->
	</div><!-- #demo10 -->
	
	<div id="demo20" class="demostep">
		<div class="row">
			<div class="span6 tell">
				
			</div><!-- .span6 -->
			<div class="span6 show">
				<p><img src="/demo/img/etsy-top.png" alt="Etsy header" class="tgt"></p>
				<p><a href="http://etsy.com">view original</a>
			</div><!-- .span6 -->
		</div><!-- .row -->
	</div><!-- #demo10 -->
	
	<div id="demo30" class="demostep">
		<div class="row">
			<div class="span6 tell">
				<p><img src="/demo/img/etsy-footer.png" alt="Etsy copyright link" class="demo-tgt"></p>
				<p><a href="http://etsy.com#footer_copyright">view original</a></p>
			</div><!-- .span6 -->
			<div class="span6 show">
				&nbsp;
			</div><!-- .span6 -->
		</div><!-- .row -->
	</div><!-- #demo10 -->
	
	<div id="demo40" class="demostep">
		<div class="row">
			<div class="span6 tell">
				&nbsp;
			</div><!-- .span6 -->
			<div class="span6 show">
				<p><img src="/demo/img/etsy-dmcapage.png" alt="Etsy copyright link"></p>
				<p><a href="http://www.etsy.com/help/article/482?ref=ft_copyright#title">view original</a></p>
			</div><!-- .span6 -->
		</div><!-- .row -->
	</div><!-- #demo10 -->

	<div id="demo50" class="demostep">
		<div class="row">
			<div class="span6 tell">&nbsp;
			</div><!-- .span6 -->
			<div class="span6 show">
				<img src="/demo/img/linkbreaker.png" alt="">
				<!--
				<p><span>Old: </span><code><em>etsy.com/dmca</em></code></p>
				<p><span>New: </span><code><em>safeharbor.in/etsy</em></code></p>
				-->
			</div><!-- .span6 -->
		</div><!-- .row -->
	</div><!-- #demo10 -->

	<div id="summary">

		<div style="padding: 25px 0 25px 0; border-bottom: 6px solid #333; margin: 0 0 25px 0">
			<img src="/demo/img/safeharbor-logo-big.jpg" alt="SafeHarbor.in" class="safeharborlogo" style="height: 60px">
			<a href="" id="start-demo" class="btn btn-inverse btn-large pull-right">Restart Demo</a>
		</div>

		<div class="row">
			<div class="span2">&nbsp;</div>
			<div class="span8">			

				<p>You just saw our web app for submitting copyright complaints to a web site. It improves on prior art with features in support of these customer goals:</p>
				<ul>
					<li>
						<p>Minimize custom development</p>
						<ul>
							<li><p>Our hosted app is the only off-the-shelf package on the market.</p></li>
							<li><p>It includes a form for editing DMCA requests, help for users, branding, and a look which conveys quality.</p></li>
						</ul>	
					</li>
					<li>
						<p>Prevent invalid complaints and streamline business processes.</p>
						<ul>
							<li><p>Copyright owners, rather than web sites, do the data entry for each request.</p></li>
							<li><p>When copyright owners do use email instead of the form, help them get it right.</p></li>
							<li><p>Help text and inline help reduce complaints that aren't about copyright.</p></li>
							<li><p>There are pre-written answers to standard questions.</p></li>
							<li><p>Posters who don't have legal standing are discouraged.</p></li>
							<li><p>Frivolous complaints are discouraged by using design to convey seriousness.</p></li>
						</ul>	
					</li>
					<li>
						<p>Be a hard target for lawsuits.</p>
						<ul>
							<li><p>Get the details right.</p></li>
							<li><p>The look and feel of quality software says that the web site takes the law seriously.</p></li>
						</ul>	
					</li>
					<li>
						<p>Avoid conflict with copyright owners by using their time efficiently.</p>
						<ul>
							<li><p>Allow multiple notifications per submission, which means less work and fewer mistakes.</p></li>
							<li><p>Readable typography makes it easier to fill in the form correctly.</p></li>
						</ul>	
					</li>
				</ul>

			</div><!-- .span6  -->
			<div class="span2">&nbsp;</div>
		</div><!-- .row -->
	</div><!-- #demo10 -->

