<style type="text/css">
	div.demostep {
		margin-top: 150em;
		margin-bottom: 150em;
	}
	.show { text-align: center }
	.show a { font-size: 75% }
	.show em { 
		font-size: 200%;
		margin: 10px;
		float:right;
	}
</style>
<div id="demosplash">

	<div id="demo10" class="demostep">
		<div class="row">
			<div class="span6 tell">
				<p></p>
			</div><!-- .span6 -->
			<div class="span6 show">
				<p><img src="/demo/img/fullscreen.png" alt="Please set your browser to full-screen mode"></p>
			</div><!-- .span6 -->
		</div><!-- .row -->
	</div><!-- #demo10 -->
	
	<div id="demo20" class="demostep">
		<div class="row">
			<div class="span6 tell">
				
			</div><!-- .span6 -->
			<div class="span6 show">
				<p><img src="/demo/img/header.png" alt="Etsy header"></p>
				<p><a href="http://etsy.com">view original</a>
			</div><!-- .span6 -->
		</div><!-- .row -->
	</div><!-- #demo10 -->
	
	<div id="demo30" class="demostep">
		<div class="row">
			<div class="span6 tell">
				<p></p>
			</div><!-- .span6 -->
			<div class="span6 show">
				<p><img src="/demo/img/copyrightlink.png" alt="Etsy copyright link"></p>
				<p><a href="http://etsy.com#footer_copyright">view original</a></p>
			</div><!-- .span6 -->
		</div><!-- .row -->
	</div><!-- #demo10 -->
	
	<div id="demo40" class="demostep">
		<div class="row">
			<div class="span6 tell">
				<p></p>
			</div><!-- .span6 -->
			<div class="span6 show">
				<p><img src="/demo/img/legalese.png" alt="Etsy copyright link"></p>
				<p><a href="http://www.etsy.com/help/article/482?ref=ft_copyright#title">view original</a></p>
			</div><!-- .span6 -->
		</div><!-- .row -->
	</div><!-- #demo10 -->

	<div id="demo50" class="demostep">
		<div class="row">
			<div class="span6 tell">
			</div><!-- .span6 -->
			<div class="span6 show">
				<p>Old: <code>&lt;a href="http://<em>etsy.com/dmca</em>">Copyright&lt;/a></code></p>
				<p>New: <code>&lt;a href="http://<em>safeharbor.in/etsy</em>">Copyright&lt;/a></code></p>
			</div><!-- .span6 -->
		</div><!-- .row -->
	</div><!-- #demo10 -->
	
	<div id="demo60" class="demostep">
		<div class="row">
			<div class="span6 tell">
			</div><!-- .span6 -->
			<div class="span6 show">
			</div><!-- .span6 -->
		</div><!-- .row -->
	</div><!-- #demo10 -->
				
	<!-- don't edit this one, only for copying -->
	<div id="demo0" class="demostep">
		<div class="row">
			<div class="span6 tell">
			</div><!-- .span6 -->
			<div class="span6 show">
			</div><!-- .span6 -->
		</div><!-- .row -->
	</div><!-- #demo10 -->
				
</div>
