<div id="demosplash">

	<div id="demo0" class="demostep">
		<div class="row centered">
				<h2><img src="/demo/img/safeharbor-logo.jpg" alt="SafeHarbor.in" class="safeharborlogo"></h2>
		</div><!-- .row -->
	</div><!-- #demo0 -->
	
	<div id="demo10" class="demostep">
		<div class="row centered">
			<div class="span12">
				<p><img src="/demo/img/fullscreen.png" class="tgt" alt="Please set your browser to full-screen mode"></p>
			</div><!-- .span6 -->
		</div><!-- .row -->
	</div><!-- #demo10 -->
	
	<div id="demo20" class="demostep">
		<div class="row">
			<div class="span6 tell">
				
			</div><!-- .span6 -->
			<div class="span6 show">
				<p><img src="/demo/img/etsy-top.png" alt="Etsy header" class="tgt"></p>
				<p><a href="http://etsy.com">view original</a>
			</div><!-- .span6 -->
		</div><!-- .row -->
	</div><!-- #demo10 -->
	
	<div id="demo30" class="demostep">
		<div class="row">
			<div class="span6 tell">
				<p></p>
			</div><!-- .span6 -->
			<div class="span6 show">
				<p><img src="/demo/img/etsy-footer.png" alt="Etsy copyright link"></p>
				<p><a href="http://etsy.com#footer_copyright">view original</a></p>
			</div><!-- .span6 -->
		</div><!-- .row -->
	</div><!-- #demo10 -->
	
	<div id="demo40" class="demostep">
		<div class="row">
			<div class="span6 tell">
				<p></p>
			</div><!-- .span6 -->
			<div class="span6 show">
				<p><img src="/demo/img/etsy-dmcapage.png" alt="Etsy copyright link"></p>
				<p><a href="http://www.etsy.com/help/article/482?ref=ft_copyright#title">view original</a></p>
			</div><!-- .span6 -->
		</div><!-- .row -->
	</div><!-- #demo10 -->

	<div id="demo50" class="demostep">
		<div class="row">
			<div class="span6 tell">&nbsp;
			</div><!-- .span6 -->
			<div class="span6 show">
				<img src="/demo/img/linkbreaker.png" alt="">
				<!--
				<p><span>Old: </span><code><em>etsy.com/dmca</em></code></p>
				<p><span>New: </span><code><em>safeharbor.in/etsy</em></code></p>
				-->
			</div><!-- .span6 -->
		</div><!-- .row -->
	</div><!-- #demo10 -->
	
	<div id="demo60" class="demostep">
		<div class="row centered" id="summary">
			<h2><img src="/demo/img/safeharbor-logo.jpg" alt="SafeHarbor.in" class="safeharborlogo"></h2>
		</div>
		<div class="row">			
			<div class="span6 show">
				<h3>Goals</h3>
				<ul>
					<li>Minimize our customers' development expense by providing off-the-shelf software.</li>
					<li>Save time for web site owners by preventing invalid complaints and streamlining business processes.</li>					
					<li>Foster healthy communications with copyright owners by making a good user experience.</li>
					<li>Make our customers hard targets for lawsuits.</li>
					<li>Raise the bar on a component which is ubiquitous across the web.</li>
				</ul>
			</div>
			<div class="span6 tell">
				<h3>Features</h3>
				<ul>
					<li>Replaces static text legal boilerplate with hosted app.</li>
					<li>Saves web sites time on data entry for each request by getting copyright owners to fill out a form.</li>
					<li>Prevents invalid complaints by improving usability and educating users.</li>
					<li>Prevents frivolous complaints by setting a serious tone in design.</li>
					<li>Makes it easier to figure out what the notification is in regard to.</li>
					<li>Reduces copyright owner work by supporting multiple submissions per notification.</li>
					<li>Relaxes copyright owners by providing easily readable type, attractive design, and good user experience.</li>					
					<li>Saves web sites time by providing FAQs to point to or copy.</li>
					<li>Reduces likelihood of a legal mistake by catching small details required by law.</li>
				</ul>
			</div>					
		</div><!-- .row -->
	</div><!-- #demo10 -->
				
	<!-- don't edit this one, only for copying -->
	<div id="demo0" class="demostep">
		<div class="row">
			<div class="span6 tell">
			</div><!-- .span6 -->
			<div class="span6 show">
			</div><!-- .span6 -->
		</div><!-- .row -->
	</div><!-- #demo10 -->
				
</div>
