/* TODO: Paige go back through and convert all your pixels to em's for your fonts..you mix and match */


@font-face {
	font-family:MyHoefler;
	src:url(/fonts/HoeflerText-Regular.eot?) format(eot), url(/fonts/HoeflerText-Regular.woff) format(woff), url(/fonts/HoeflerText-Regular.ttf) format(truetype);
}

@font-face {
	font-family:MyHNCB;
	src:url(/fonts/HelveticaNeue-CondensedBold.eot?) format(eot), url(/fonts/HelveticaNeue-CondensedBold.woff) format(woff), url(/fonts/HelveticaNeue-CondensedBold.ttf) format(truetype);
}


	
/* background image */
body,html,div.body {

	
/* background-image: url("/img/lighthouse_copycopy.png"), url("/img/noise.png"); */
	background-repeat:no-repeat, repeat;
}


	
/* fullscale background image */
img.bg {

	
/* Set rules to fill background */
	min-height:100%;
	min-width:1024px;

	
/* Set up proportionate scaling */
	width:100%;
	height:auto;

	
/* Set up positioning */
	position:fixed;
	top:0;
	left:0;

	
/* Push to the background */
	z-index:-1;
}

@media screen and max-width 1024px 
	img.bg {
		left:50%;
		margin-left:-512px;
	}
}

button::-moz-focus-inner {
	border:0;
}


	
/* some global styles */
h1,h2,h3,h4 {
	font-family:MyHoefler;
	font-weight:normal;
}

h3,h4 {
	font-size:28px;
	line-height:30px;
	margin:40px 0 10px;
}

div#rolepage h2,div#faq h2,div#dmcaform h2,div#bymail div.row div.span7 h2 {
	margin-top:2em;
	margin-bottom:1em;
	font-size:2.4em;
}


a {
	color:#333;
	font-family:proxima-nova,helvetica,sans-serif;
	font-style:normal;
	font-weight:400;
}

a.underline {
	text-decoration:underline;
}

a.inline {
	text-decoration:underline;
}

.centered {
	text-align:center;
}

p,li,label {
	color:#333;
	font-family:proxima-nova, helvetica, sans-serif;
	font-size:1.4em;
	line-height:1.3em;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
	


}

div.sidebar {
	margin-top:3em;

	
/* push the content way down below the start of the main content */
}

div.sidebar h3 {
	margin-top:3em;

	
/* to separate sections in the sidebars */
}

div.sidebar p {
	color:#333;
}


	
/******* Top nav bar *****/
body:before {
	content:"";
	position:fixed;
	top:-10px;
	left:0;
	width:100%;
	height:10px;
	-webkit-box-shadow:0 0 10px rgba(0,0,0,.8);
	-moz-box-shadow:0 0 10px rgba(0,0,0,.8);
	box-shadow:0 0 10px rgba(0,0,0,.8);
	z-index:100;
}

div#globalnavhighlight {
	margin-top:-1px;
	height:80px;
	background-color:#ddd;
	padding-top:10px;
	font-family:MyHNCB;
	font-size:2.4em;
border-bottom: 1px solid #333;
}

div#haslowerborder {
	margin-top:35px;
	height:30px;
	border-bottom:6px solid #000;
	text-align:right;
}

div#haslowerborder a.subtitle {
	margin-right:10px;
	font-family:MyHNCB;
}

div#globalnavhighlight img.sitelogo {
	margin-left:2em;

	
/* needs to align with the left margin of content and footer as well. */
	max-height:60px;
}


	
/******* global footer *****/
footer {
	margin-top:30em;
	font-family:MyHNCB, helvetica;
	border-top:1px solid #ddd;
	padding-top:2em;
}

/* add space to the bottom of the whole footer so it doesn't fall off the page */
footer.row div.about {
margin-bottom: 70px;
}


footer div.copyright {
	text-align:center;
}f

footer div.legalese {
	border:1px solid #000;
	padding:5px;
	margin:1em;
}


	
/******* splash page *****/
#splash {
	text-align:center;
}

#splash div.callout {
	font-family:MyHoefler, serif;
	padding:2em;
	margin:9em 3em 3em;
	text-align:center;
}

#splash div.callout span.youarehere {
	background-color:#ddd;
	font-size:2.4em;
	border:5px solid #666;
	padding-left:2em;
	padding-right:2em;
	padding-top:1em;
	padding-bottom:1em;
}

#splash p.donot {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:44em;
}

#splash div.cta {
	margin:4em;
}

#splash div.cta a.sub {
	color:#7D1C1C;
	text-decoration:underline;
	margin-left:2em;
	font-size:1.4em;
}

div#splash div.cta a.btn {
	margin-right:20px;
}


	
/* role page */
div#rolepage a {
	color:#000;
}

div#rolepage {
	margin-top:4em;
	margin-bottom:4em;
}

div#rolepage footer {
	position:fixed;
	bottom:0;
}

div#rolepage .yourrole li {
	margin:2em;
}

div#rolepage .yourrole a {
}

div#rolepage .yourrole a:hover {
	text-decoration:underline;
}

div#rolepage .yourrole a i {
	text-decoration:none;
}


	
/* FAQ Learn.html */

div#faq div#toc {
	margin-bottom:3em;
	padding-bottom:3em;
	margin-top:2em;
}

div#faq li.question {
	margin-bottom:2em;
list-style: none;}

ul#toc {
	margin-bottom:60px;
}

ul#toc h2 {
	font-size:30px;
	line-height:36px;
}

li.toc {
	font-size:1.6em;
	line-height:1.7em;
	text-decoration:underline;
	list-style: none;
}

li.toc a,.answer p,.answer li {
	color:#666;
}

.answer p,.answer li {
	font-size:1.1em;
	line-height:1.7em;
}

div.answer p  {
	margin:0 0 12px 23px;
}

div.answer ul{
	margin:0 0 0 50px;
}

div.answer ol li {
margin-left: 41px;
}

	
/* DMCA form */
#dmcaform a#prefill {
	position:absolute;
	top:10px;
	right:10px;
}

#dmcaform {
	margin-top:4em;
}


	
/* context-sensitive help for input fields */
#dmcaform #request .help-block {
	-moz-opacity:0.50;
	opacity:0.50;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}

#dmcaform #request .show-block .help-block,.help-block:active,#dmcaform #request .help-block:hover {
	-moz-opacity:1;
	opacity:1;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

#dmcaform div.bottom {
	margin-top:2em;
}

#dmcaform a.learnmore {
	text-decoration:underline;
	font-family:MyHoefler;
	font-size:1em;
}

#dmcaform sup {
	color:red;
	position:relative;
	top:-3em;
}

#dmcaform sup.textarea-adjust {

	
/* slightly different vertical spacing needs when next to textarea rather than an input[type=text] */
	top:-2em;
}


	
/* bymail = direct address info, for bypassing the form */
#bymail {
	margin-top:4em;
}

#bymail pre {
	border:0;
	width:22em;
	margin:0 0 2em 3em;
	font-family:MyHNCB;
}


	
/******* Big Copyright CTA *****/

	
/*
Big Copyright CTA
background-color: either #ccc or #ddd depending
border: #666
font-size: 3.2em
font-family: Hoefler Text

p, li, form labels: 
color: #333
font-family: "proxima nova", helvetica
font-size: 1.4em

.button: 
background-color: #000
font-family: helvetica
font-weight: bold
font-size: 1.4em
width: 128px

a:
color: #333 or #000 depending 
font-family: proxima nova
font-size: 1.4em

#footer:
font-family: Helvetica Neue Condensed Bold
font-size: 1.3em or 1.4em depending

H1, H2
font-family: Hoefler Text

Sidebar p
font-family: "proxima nova", helvetica
font-size: 1.4em
line-height: twitter default
left justify
width: 240px
color: #666 (?) have to fiddle with this one


Legalese thing in the footer:
340px

Education page h2 margin-bottom: 10px?
*/

/* /demo */

div.jTour_box .jTour_content { 
	font-size: 175% !important;	
/*	background-color: #336699; */
}

