

/* ===== Primary Styles ========================================================
   Author: Lucas Gonze <lucas@gonze.com>
   ========================================================================== */


.hero-unit { 
	padding: 30px
}
.hero-unit h1 {
	font-size: 3em;
}

div.designatedagent  {
	padding-left: 3em;
	padding-bottom: 1em;
	font-family: Menlo, Monaco, "Courier New", monospace;
	color: #009;
	font-weight: bold;
	font-size: 110%;
}


div#main {
    max-width: 55em;
}

p {
	font-size: 18px;
	line-height: 1.7;
	margin: 0; padding: 0
}

.pastedfromstatute p {
    font-size: 18px;
    line-height: 1.7;
    margin: 1em;
}

div.verticalspacer {
    margin-top: 2em;
}

body > footer {
    position: fixed;
    bottom: 0;
    right: 10px;
	border: 5px solid #ccc;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
body > footer div.attribution {
    background-color: #ccc;
    padding: 5px;
    font-size: 12px;
    float: right;
}
