
/* ===== Primary Styles ========================================================
   Author: Lucas Gonze <lucas@gonze.com>

   Fixme: this file is a mess. Clean out unused styles.
   Fixme: switch to sass/less/compass.
   ========================================================================== */

/********
 * override Bootstrap settings
 ********/

fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px;
}
    

/*********************** global nav bar */
/* make room at the top of the viewport for the global nav to have a fixed position */
body {
	position: relative;
	padding-top: 90px;
}
div.navbar-fixed-top .brand img { width: 250px }
div.navbar-fixed-top ul.nav { font-size: 2em }
/***********************/

/********
 * /siteeditor
 ********/

/* Needing to preface with .siteeditor or .regid is a hack, but otherwise the size 
   isn't picked up. Haven't figured out why just yet. */
.siteeditor p.tip, body.regid p.tip {
    border: 1px dotted #ccc;
    text-align: center;
    font-size: 12px !important;
    padding: 5px;
}

/********
 * /box
 ********/

body.box.splash div.main {
	margin-left: auto;
	margin-right: auto;	
	max-width: 50em;
}

.box.splash p {
    line-height: 1.7em;	
    max-width: 32em;	
    font-size: 1.5em;
}

.box.splash p.legalese {
	border: 1px solid #ccc;
	font-size: 1em !important;
	line-height: 1.2em;
	font-style: italic;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
}

.box.splash div.hitpoints p {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}
.box.splash div.hitpoints {
	padding-bottom: 4em;
}

/* /box/role/ */

body.role div.role {
	border-bottom: 1px solid black;
	padding: 1em;
	margin: 1em;
}
body.role p { font-size: 1.5em }
body.role p.tip { font-size: 1em }


/*********************** competitive differentiation list */
body.firstrun div#filling ol {
	/* center it*/
	max-width: 70em; 
	margin-left: auto; 
	margin-right: auto
}
body.firstrun div#filling ol li {
	line-height: 2.4em;
	font-size: 2em;
	padding: 1em;
}
/* striping */
body.firstrun div#filling li:nth-of-type(even) { background-color:#eee }



body.box .notforinbox {
	display: none;
}

/* options for managing profile and registration status the top nav bar */
.loggedout .hideifloggedout {display:none}
.loggedin .hideifloggedin {display:none}

.hideerror .alert-error { display: none }
.showerror .alert-error { display: block }

.hideerroruntilfail div.alert-error, .hideerroruntilfail div.alert-success { display: none }
.hideerroruntilfail.fail div.alert-error { display: block }
.hideerroruntilfail .success div.alert-success { display: block }

/* kludge: show/hide stuff for logged-in customers depending on what page you're on */
.loggedinonly {display:none}
.loggedoutonly {display:none}
body.firstrun .loggedoutonly {display:block}
body.reg .loggedoutonly {display:block}
body.dash .loggedinonly {display:block}

/* used when the content is a narrow column that looks weird if not centered */
div.narrowblock {
	margin-left: auto; 
	margin-right: auto; 
	width: 18em
}
div.notsonarrowblock {
	margin-left: auto; 
	margin-right: auto; 
	width: 32em
}

p.upper {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: .5em
}

.bigass p {
    font-size: 1.5em !important;
    line-height: 2em;
}

*.sizeofinput,
.tabindex input[type="text"], 
.tabindex input[type="password"], 
.tabindex textarea
 { width: 22em; }
.tabindex input[type="submit"] { width: 20em; }

.tabindex textarea {
	height: 5em;
}

div.verticalspacer {
    margin-top: 2em
}

p.primary { 
	text-align: center;
	margin: 2em;
}

div.explanation { 
	font-style: italic;
}
.labeler label {
	float: left;
	min-width: 15em;
	text-align: right;
	margin-right: 1em;
}
.labeler input, .labeler textarea {
    width: 30em;
}

/* I know this is stylistically evil but I don't have a better idea for now. At least it's better
than a literal style=text-align:center attribute */
.centered {
	text-align:center
}

/*
 * for the /dash section 
 */

ol.takedownlist {
    list-style-type: none
}
ol.takedownlist a.viewrequest { 
	position: relative;
	left: 0;
	}
ol.takedownlist li {
    margin-bottom: 1em;
    border-bottom: 1px dotted #ccc;
	clear: right;
}
ol.takedownlist div.suggestedactions {
    float: right;
    text-align: right;
}
ol.takedownlist  label, div.synopsisblock label {
	width: 10em;
	text-align: right;
	display: inline;
	margin-right: 1em;
	float: left;
	font-size: 70%;
}
ol.takedownlist div.suggestedactions p {
    font-size: 70%;
}

body.dash form.search { 
    text-align: right;
    margin-top: 2em;
    margin-bottom: 2em;
}
body.dash form.search span { 
    border: 3px dotted #ccc;
    padding: 1.5em;
}

/****************
 * Form for requesting a takedown
 ****************/

#request legend {
    border: 0;
    width: auto;
    padding: 3px;
    display: inline;
    font-size: 1.2em;
    line-height: 2em;
    }
#request fieldset { 
    border: 1px solid #ccc; 
    padding: 1em
}

/* context-sensitive help for input fields */
#request .help-block { display: none; }
#request .show-block .help-block, .help-block:active { display: inline }

#request input[type="text"], 
#request input[type="password"], 
#request textarea
 { width: 30em; }
#request input[type="submit"] { width: 30em; }

#request textarea {height: 5em}

#request q { font-style: italic }
#request q:before { content: open-quote } /* not working - fixme */
#request q:after { content: close-quote } /* not working - fixme */

#request em { 
	font-style: normal;
	font-weight: bold;
}

div.designatedagent {
    margin-left: 4em;
}
.designatedagent, .designatedagent p {
    font-family: monospace;
}

