<div class="bigass narrowblock">	
	<form action="/reg" method="post" id="reg1form">
		<p class="upper">Email:</p>
		<p><input type="text" placeholder="your-email@example.com" name="email" id="email" required autofocus></p>
		<p class="upper">Password:</p>
		<p><input type="password" placeholder="*****" name="password" id="password" required></p>
		<p class="upper">Repeat password:</p>
		<p><input type="password" name="confirm" id="confirm" required></p>
		<br>
		<p><input type="submit" class="btn btn-primary btn-large" value="Save"></p>
	</form>
</div>