<div class="bigass">
	<div class="alert alert-success">
		<p style="font-style: italic">Welcome back!</p>			
	</div>

	<form action="/reg/{{{regid}}}" method="post">

		<div class="borderme">
			<p class="upper">Title of your site:</p>
			<p><input type="text" placeholder="My Awesome Site" required></p>
			<p class="upper">Domain name of your site:</p>
			<p><input type="text" placeholder="example.com" required></p>
		</div>

		<div class="borderme">
			<p class="upper">Mailing address of your <a href="http://www.copyright.gov/onlinesp/" target="safeharbor.in-newwin">designated agent to receive notifications of claimed infringement</a>:</p>
			<textarea required></textarea>
			<p class="upper">Email address of your designated agent:</p>
			<p><input type="text" placeholder="username@example.com" required></p>
		</div>

		<p style="text-align: center""><input class="btn btn-primary btn-large"" type="submit" value="Save"></p>

	</form>
</div>