<div class="alert alert-success bigass">
	<p style="font-style: italic; text-align: center" class="bigass"><i class="icon-check"></i> Email confirmed!</p>			
</div>
<div class="bigass notsonarrowblock">

	<form action="/reg/{{{regid}}}" method="post" id="newsite">

		<div class="borderme">
			<p class="upper">Title of your site:</p>
			<p><input type="text" placeholder="My Awesome Site" name="sitename" id="sitename" autofocus></p>
			<p class="upper">Domain name of your site:</p>
			<p><input type="text" placeholder="example.com" name="domain" id="domain"></p>
		</div>

		<div class="borderme">
			<p class="upper">Mailing address of your <a href="http://www.copyright.gov/onlinesp/" target="safeharbor.in-newwin">designated agent to receive notifications of claimed infringement</a>:</p>
			<textarea required name="agentaddress" id="mailing"></textarea>
			<p class="upper">Email address of your designated agent:</p>
			<p><input type="text" placeholder="username@example.com" name="agentemail"></p>
		</div>

		<p><input class="btn btn-primary btn-large" type="submit" value="Save"></p>

	</form>
</div>