<div class="bigass">
	<form action="/reg/step1" method="post" id="enteremail">
		<p class="upper">Email:</p>
		<p><input type="text" placeholder="your-email@example.com" name="email" required autofocus></p>
		<p class="upper">Password:</p>
		<p><input type="password" placeholder="*****" name="password" required></p>
		<p class="upper">Confirm password:</p>
		<p><input type="password" placeholder="*****" name="confirm" required></p>
		<br>
		<p><input type="submit" class="btn btn-primary btn-large" value="Save"></p>
	</form>
</div>