<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{#if sitename}}{{sitename}}{{else}}Safeharbor.in{{/if}}{{#if pageTitle}} - {{pageTitle}}{{/if}}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/font-awesome.css">
	<link rel="stylesheet" href="/css/bootstrap-responsive.css">
	<link rel="stylesheet" href="/css/box.css">

	<script type="text/javascript" src="//use.typekit.net/olc2iqd.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<script src="/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
	
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

	<style type="text/css">

	</style>
</head>
<body>
	<img src="/img/lighthouse.png" class="bg">

	<header id="globalnav">
		<div id="globalnavhighlight">
			<a href="http://{{domain}}" class="pull-left"><img src="{{sitelogo}}" class="sitelogo" alt="{{sitename}}"></a>
			<div id="haslowerborder">
				<a class="subtitle" href="/box/{{regid}}">Notification of Claimed Infringement per 17 USC § 512</a>	
			</div>
		</div>
	</header>
<div class="container">
	{{{body}}}
	
	<footer class="row">
			<div class="span4 about">This tool for reporting copyright infringement is provided for {{sitename}} by SafeHarbor.in. SafeHarbor.in provides services for DMCA compliance. Our mission is to reduce risk, expense, and stress for web sites while being effective and efficient for copyright owners. </div>
			<div class="span4 copyright">Copyright &copy; 2012 <a href="http://safeharbor.in">SafeHarbor.in</a></div>
			<div class="span4 legalese"><small>{{sitename}} has adopted and reasonably implemented, and informs subscribers and account holders of the service provider’s system or network of, a policy that provides for the termination in appropriate circumstances of subscribers and account holders of the service provider’s system or network who are repeat infringers.</small></div>
	</footer>

</div>
	<script src="/js/libs/jquery-validation-x/jquery.validate.min.js"></script>
	<script src="/js/script.js"></script>
	
</body>
