<div class="container" id="bymail">
	
	<div class="row">
		<div class="span1">&nbsp;</div>
		<div class="span7">
		
			<h2>Submit a notification of infringement by mail</h2>

			<p>If you believe copyrighted work is available on this website
			in a way that constitutes copyright infringement, you may notify the
			website operators in writing.</p>

			<p>To send notification by postal mail, use this
			address:</p>
			<pre>{{agentname}}
{{agentaddress}}</pre>

			<p>To send notification by email, use this address:</p>
			<pre>{{agentemail}}</pre>

			<p>To contact the agent by phone, use this number:</p>
			<pre>{{agentphone}}</pre>

			<p class="yournotificationmust">Your written notification (the Notification) to the above-referenced designated agent must include substantially all of the following:</p>

			<p>a. Identification of the copyrighted work that is the
			subject of the claimed infringement or, if multiple copyrighted works are
			involved, a representative list of the works;</p>
			<p>b. Identification of the allegedly infringing material,
			together with information reasonably sufficient to permit Operator to
			locate the material;</p>
			<p>c. Information reasonably sufficient to permit Operator
			to contact you, such as your name, address, telephone number and email
			address;</p>
			<p>d. A statement by you that you have a good faith belief
			that the copyrighted work identified in the Notification is being used in
			a manner that is not authorized by the copyright owner, its agent or the
			law;</p>
			<p>e. A statement by you, signed under penalty of perjury,
			that the information contained in the Notification is accurate and that
			you are authorized to act on behalf of the owner of the copyrighted work
			that is allegedly being infringed; and</p>
			<p>f. A physical or electronic signature of the owner of
			the copyrighted work or a person authorized to act on its behalf.</p>
		
		</div><!-- span8 -->
		<div class="span4 sidebar">
			
			<p>Our online form is a more efficient and effective way to submit your notification.</p>
			<p class="centered"><a href="/box/role/{{regid}}" class="btn btn-inverse btn-small">Use Online Form</a></p>

			<h3>Source</h3>

			<p>The format of your notification is defined by <a href="http://localhost:5000/box/help/learn/{{regid}}#Q9-1" class="underline">17 USC § 512</a>.</p>
			
		</div><!-- span4 -->
	</div><!-- row -->

</div><!-- .container -->