<p>If you believe copyrighted work is available on this website
   in a way that constitutes copyright infringement, you may notify the
   designated agent in writing.</p>
             <div class="verticalspacer">
                   <p>To send notification by postal mail, use this
   address:</p>
                   <div class="designatedagent">
                        <p>Attn: OSP 1234, Case 4567</p>
                        <p>425 2nd St, Suite 100</p>
                        <p>San Francisco CA 94107</p>
                   </div>
             </div>
             <div class="verticalspacer">
                   <p>To send notification by email, use this address:</p>
                   <div class="designatedagent">case [variable: Case
   ID]@mytakedownrequests.com</div>
             </div>
<hr>
             <p>Your written notification (the Notification) to the above-­‐
   referenced designated agent must include substantially all of the
   following:</p>
             <blockquote class="pastedfromstatute">
                   <p>a. Identification of the copyrighted work that is the
   subject of the claimed infringement or, if multiple copyrighted works are
   involved, a representative list of the works;</p>
                   <p>b. Identification of the allegedly infringing material,
   together with information reasonably sufficient to permit Operator to
   locate the material;</p>
                   <p>c. Information reasonably sufficient to permit Operator
   to contact you, such as your name, address, telephone number and email
   address;</p>
                   <p>d. A statement by you that you have a good faith belief
   that the copyrighted work identified in the Notification is being used in
   a manner that is not authorized by the copyright owner, its agent or the
   law;</p>
                   <p>e. A statement by you, signed under penalty of perjury,
   that the information contained in the Notification is accurate and that
   you are authorized to act on behalf of the owner of the copyrighted work
   that is allegedly being infringed; and</p>
                   <p>f. A physical or electronic signature of the owner of
   the copyrighted work or a person authorized to act on its behalf.</p>
             </blockquote>