<style scoped>
.hazard-warning {
    color: red;
	display: none;
}
</style>

<h1>Notification of claimed infringement</h1>
<form action="/box/{{idhash}}" method="post" class="form-vertical" id="request">
    
    <fieldset>
	    <legend>About you:</legend>
	    <div class="hazard-warning no"  >
	    {{sitename}} only handles requests that are submitted by the copyright owner or 
	                 an authorized representative of the copyright owner. 
	        {{#if copyright_policy_url}} 
	            Please see our <a href="{{copyright_policy_url}}">Copyright Policy</a> for more information.
	        {{/if}}
	    </div>
    
	    <div class="co ar" >

		    <div class="control-group ar" >
		      <p><label class="control-label" for="owners_full_name">Copyright owner's full name</label>
		      <div class="controls">
				<input tabindex="10" type="text" placeholder="John Doe" id="owners_full_name" name="owners_full_name" required>
		      </div>
		    </div>

		    <div class="control-group">
		      <p><label class="control-label" for="full_name">Your full name</label>
		      <div class="controls">
				<input tabindex="20" type="text" placeholder="John Doe" id="full_name" name="full_name" required>
		      </div>
		    </div>

		    <div class="control-group">
		      <p><label class="control-label" for="job_title">Job title</label>
		      <div class="controls">
				<input tabindex="30" type="text" placeholder="Copyright screener" id="job_title" name="job_title" >
		      </div>
		    </div>
      
		    <div class="control-group">
		      <label class="control-label" for="email">Email:</label>
		      <div class="controls">
		        <input tabindex="40" type="text" placeholder="johndoe@example.com" name="email" id="email" required>
		      </div>
			  <div class="hint help-block">Email address where you can be reached easily. Use one you check frequently. Make sure the spam filters won't prevent you from getting our messages.</div>
		    </div>

		    <div class="control-group">
		      <label class="control-label" for="fax">Fax:</label>
		      <div class="controls">
		        <input tabindex="50" type="text" placeholder="(800) 555-1212" name="fax" id="fax" >
		      </div>
			  <div class="hint help-block">A phone number where you can be reached. If the country code is not specified, United States will be assumed.</div>
		    </div>
    
		    <div class="control-group">
		      <label class="control-label" for="phone">Phone:</label>
		      <div class="controls">
		        <input tabindex="60" type="text" placeholder="(800) 555-1212" name="phone" id="phone" >
		      </div>
			  <div class="hint help-block">A phone number where you can be reached. If the country code is not specified, United States will be assumed.</div>
		    </div>

		    <div class="control-group">
		      <label class="control-label" for="postal">Mailing address:</label>
		      <div class="controls">
		        <textarea tabindex="70" cols="30" rows="5" name="postal" id="postal" required></textarea>
		      </div>
			  <div class="hint help-block">Postal address for reaching you. If this is not in the United States, give the country.</div>
		    </div>

	    </div>
    </fieldset>
    
  <fieldset class="co ar"   id="clone_this">
    <legend>About the claimed infringement (<span class="infringement_number">1</span>)</legend>

    <div class="control-group" id="kill_switch_pre">
      <label class="control-label" for="page">Page containing the infringement:</label>
      <div class="controls">
        <input tabindex="100" type="text" placeholder="http://example.com/somesong.mp3" required autofocus id="page" name="page" class="renum" >
      </div>
	  <div class="help-block"><a href="http://www.copyright.gov/title17/92chap5.html#512" target="new-window"><span class="icon-question-sign"></span></a> <em>The link you want taken down.</em> If there is a specific file, the file's URL. If you are alleging infringement by an external site which this site is linking to, give us the link on this site which contains the link to the external site. <a href="http://www.copyright.gov/title17/92chap5.html#512" target="new-window">Defined</a> as <q>Information reasonably sufficient to permit the service provider to locate the material. </q></div>
    </div>

    <div class="control-group">
      <label class="control-label" for="anchor">Where is it in that page?</label>
      <div class="controls">
        <input tabindex="101" type="text" placeholder="Link titled &ldquo;The Beatles&rdquo;" id="anchor" name="anchor" class="renum" >
      </div>
	  <div class="help-block"><a href="http://www.copyright.gov/title17/92chap5.html#512" target="new-window"><span class="icon-question-sign"></span></a> Point us to the part of the page that you are concerned about. The information you are providing here is defined in DMCA 512(c) as <q>Identification of the material to be removed</q>.</div>
    </div>

    <div class="control-group">
      <label class="control-label" for="description">Which work is being infringed?</label>
      <div class="controls">
		<input tabindex="102" type="text" placeholder="&ldquo;A Hard Day&apos;s Night&rdquo; by The Beatles" id="description" name="description" required class="renum" >
      </div>
	  <div class="hint help-block"><a href="http://www.copyright.gov/title17/92chap5.html#512"><span class="icon-question-sign"></span></a> Tell us what is the source work that is being infringed. If it's a song, say the artist, album and title. If it's a movie tell us the name, year, or anything else that defines the work. The information is this field is defined in the law as <q>Identification of the copyrighted work claimed to have been infringed</q>.</div>
    </div>
  </fieldset>

	<p class="primary" id="insert_before_here">
	  <button id="report_another" tabindex = "1000" class="btn">Add notification</button>
	</p>

	<fieldset class="co ar"  >
	    <legend>Legal Required Fields</legend>

		<p>With regard to the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled:</p>

	    <div class="control-group">
	      <label class="control-label radio" for="person-type-copyright-owner">
	        <input type="radio" class="person-type inline" name="person-type" id="person-type-copyright-owner" value="co" /> 
			I am the copyright owner.
		  </label> 
	    </div>

	    <div class="control-group">
	      <label class="control-label radio" for="person-type-authorized-rep">
		    <input class="person-type" type="radio" name="person-type" id="person-type-authorized-rep" value="ar" />
			I am an authorized representative of the copyright owner.
		  </label>
	    </div>

	    <div class="control-group">
	      <label class="control-label radio" for="person-type-none">
		    <input type="radio" name="person-type" id="person-type-none" class="person-type" value="no" />
			I am not the copyright owner and I don't officially represent them.
		   </label> 
	    </div>

	    <div class="control-group" style="margin-top: 2em">
	      <label class="control-label checkbox"><input tabindex="1010" type="checkbox" name="authorized"> Under penalty of perjury I state that I am authorized to act on behalf of the owner of the exclusive right that is allegedly infringed.</label>
		  <div class="hint help-block">This form is for copyright complaints from people affiliated with the copyright. If you are not the owner, you cannot use this form. Lying about this is a criminal act.</div>
	    </div>

	    <div class="control-group">
	      <label class="control-label checkbox"><input tabindex="1020" type="checkbox" name="belief"> I have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, it's agent, or the law.</label>
		  <div class="hint help-block">You are personally asserting this and are legally responsible for being truthful.</div>
	    </div>
	</fieldset>

	<p class="primary">
		<button tabindex="1030"  class="btn btn-large btn-primary">Submit</button>
	</p>

	<p>You may also <a href="/box/bymail/{{regid}}">bypass this form</a>.</p>

</form>

<script>
$(function() {
    var next_incident = 2;
    
    function renumberIncidents()
    {
        var count = 1;
        $('.infringement_number',document).each( function() {
            $(this).html( count++ );
            });
        next_incident = count;
    }
    
    $('#report_another').click( function() {
        
        function removeMe( fs ) {
            return function() {
                    $('#'+fs).remove();
                    renumberIncidents();
                    }
        }
        
        function renumber(base) {
            return function() {
                $(this).attr('tabindex', base++);
            }
        }
        var fsName = 'cloned_'+next_incident+'_';
        var firstTab = 100+(next_incident*20);
        
        $('#insert_before_here').before(
                    $('<fieldset>')
                         .html($('#clone_this').html())
                         .addClass( 'co ar' )
                         .attr('id', fsName)
                         .find('.infringement_number').html(next_incident).end()
                         .find('.renum').each( renumber(firstTab) ).end()
                         .prepend( $('<div class="pull-right btn btn-danger">')
                                    .html('<i class="icon-remove"></i>')
                                    .attr('title',"Remove this item from the infringement report")
                                    .click( removeMe(fsName) ))
                    );
        
        ++next_incident;
    });
});
</script>

