
<h1>Role</h1>

<p style="margin-top: 2em; margin-bottom: 1em">What is your role relative to the copyright on this work?<p></li>

<ul>

	<!-- hide this until Nicole writes the help text and we have a working link
	<p class="tip pull-right"><a href="to education tab: "Am I a copyright owner/holder?""><i class="icon-info-sign"></i> Not sure if you're the copyright owner?</a><p></li>
	-->
	<li><p><a href="/box/form/{{regid}}?person-type=co">I am the copyright owner</a>. <a href="/box/help/learn/{{regid}}#Q3"><i class="icon-question-sign"></i></a></p></li>	

	<li><p><a href="/box/form/{{regid}}?person-type=ar">I am a legally authorized agent of the copyright owner</a>. <a href="/box/help/learn/{{regid}}#Q4"><i class="icon-question-sign"></i></a></p></li>

	<li><p><a href="/box/help/learn/{{regid}}#Q4">I am neither of the above.</a></p></li>

</ul>