
<div class='container'>
	<div id="rolepage">
	
		<div class="row">
	
			<div class="yourrole span8">
				<h2>What is your role relative to the copyright on this work?</h2>
				<ul>
					<li><p><a href="/box/form/{{regid}}?person-type=co">I am the copyright owner</a>. <a href="/box/help/learn/{{regid}}#Q3"><i class="icon-question-sign"></i></a></p></li>	
					<li><p><a href="/box/form/{{regid}}?person-type=ar">I am a legally authorized agent of the copyright owner</a>. <a href="/box/help/learn/{{regid}}#Q4"><i class="icon-question-sign"></i></a></p></li>
					<li><p><a href="/box/help/learn/{{regid}}#Q4">I am neither of the above.</a></p></li>
				</ul>	
			</div><!-- yourrole -->
	
			<div class="sidebar span4">
				<p>Please only report infringement of your own copyright, or the copyright of someone you are authorized to represent. If you believe that someone else’s copyright is being infringed, please tell them and direct them to this page.</p>

				<p><a href="/box/help/learn/{{regid}}" class="learnmore">Learn more about Copyright Infringement</a></p>
			</div><!-- yourrole -->
	
		</div><!-- row -->
	</div><!-- #rolepage -->
</div><!-- container -->