
<div class="role">
	<!-- hide this until Nicole writes the help text and we have a working link
	<p class="tip pull-right"><a href="to education tab: "Am I a copyright owner/holder?""><i class="icon-info-sign"></i> Not sure if you're the copyright owner?</a></p>
	-->
	<p><a href="/box/form/{{regid}}?role=owner">I am the copyright owner</a>: I created the work or I acquired the rights.</p>	
</div>

<div class="role">
	<p><a href="/box/form/{{regid}}?role=rep">I am a legally authorized agent of the copyright owner.</a></p>
</div>

<div class="role">
	<p><a href="/box/help/role">I am neither of the above.</a></p>
</div>
