<div id="splash" class="container">

	<div class="callout">
		<span class="youarehere">Report Copyright Infringement on {{sitename}}</span>
	</div>
	
	<p class="donot">Do not report copyright infringement unless you are making a genuine claim. You could face substantial financial and legal consequences if you submit this form when you are unauthorized to do so. Under 17 U.S.C 512(f) you may be liable for any damages, including costs and attorney fees, if you knowingly misrepresent that material is a copyright infringement.</p>
	
	<div class="cta">
		<a href="/box/help/learn/{{regid}}" class="btn btn-action btn-large">Learn More</a>
		<a href="/box/role/{{regid}}" class="btn btn-inverse btn-large">Submit Notification to File Infringement</a>
	</div>
		
</div>
