<div class="main">
	<p>If you identify content on our site that you believe infringes your copyright, you may advise us using this form.</p>

	<p>This site handles reports of copyright infringement according to a law known as 17 USC § 512. Our form, your report, and our response are defined by law. Before filling out this form please consider:</p>

	<ul>

	<li><p>This form is only for notifying us concerning copyright infringement.  If you want to report something else, this is not the place.</p></li>

	<li><p>This form is only for the use of the copyright holder or someone authorized to represent the copyright holder. If you believe someone else’s copyright is being infringed, you may direct them to this page.</p></li>

	<li>
	<p>Submitting this form is serious! There can be legal and financial consequences for fraudulent or bad-faith claims.  You also risk having your account with this website suspended or terminated.</p></li>

	<p>Again, do not  submit an alleged DMCA copyright infringement claim on this form unless you are certain you are the copyright holder or authorized to act for the rights holder.  If you are unsure if you hold rights to a particular work,  you may want to contact an attorney before submitting this form.</p>
	</li>
	
	

	</ul>
	<div class="hitpoints">

		<p><a class="btn btn-large btn-primary" href="/box/help/learn">Learn More</a></p>

		<p class="legalese">This site has adopted and reasonably implemented, and informs subscribers and account holders of the service provider&#8217;s system or network of, a policy that provides for the termination in appropriate circumstances of subscribers and account holders of the service provider&#8217;s system or network who are repeat infringers.</p>

		<p><a href="/box/role/{{regid}}">Notification of claimed infringement per 17 USC § 512.</a></p>
	</div>

</div><!-- class=main -->