<blockquote>
	Copyright

	If you identify any content on this site that you believe infringe your copyright, you can let us know.

	Before making a report concerning any possible copyright infringement, please consider the following

			These pages relate to notices concerning copyright infringement only. If you wish to make a report concerning infringement of any other rights, this is not the place.
			Please only report infringement of your own copyright, or the copyright of someone you are authorized to represent. If you believe that someone else’s copyright is being infringed, please tell them and direct them to this page.
			Please do not report copyright infringement unless you have a genuine claim. If you make groundless or malicious reports of copyright infringement, you risk having your account suspended or terminated. You may also be liable for damages (including costs and legal fees) incurred by this site, the person whose content you report and/or any copyright owner or authorized licensee, as the result of sounds being removed in reliance on your notice.
			Please provide detail. The more information we have regarding your claim, the quicker we can process your notice.

	This site complies with the requirements of DMCA 512(c ). 

	This site has adopted and reasonably implemented, and informs subscribers and account holders of the service provider's system or network of, a policy that provides for the termination in appropriate circumstances of subscribers and account holders of the service provider's system or network who are repeat infringers.
</blockquote>

<form action="/box/help/learn"><input type="submit" value="Learn More"></form>
<p><a href="/box/role/1234">Notification of claimed infringement as defined in DMCA 512(c) paragraph (3).</a></p>
