
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>{{#if sitename}}{{sitename}}{{else}}Safeharbor.in{{/if}}{{#if pageTitle}} - {{pageTitle}}{{/if}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/dash/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

    </style>
    <link href="/dash/css/safe_bootstrap.css" rel="stylesheet">
    <link href="/dash/css/bootstrap-responsive.css" rel="stylesheet">

	<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/dash/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/dash/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/dash/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/dash/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/dash/ico/apple-touch-icon-57-precomposed.png">

	<!-- JS is ordinarily at the end for speed but we need it before the body so that view pages 
		can load custom libraries which rely on JQuery-->
    <script src="/dash/js/jquery.js"></script>

  </head>


<body>

<div class="row">
<div class="span10" id="dmcaform">

	<form action="/inbox/{{idhash}}" method="post" id="request">

		<!-- this first row contains everything before the "submit" button. We need a separate dedicated 
		     row because we want the links to the direct contact fields to appear in the sidebar parallel to
		     the form submit buttons, so that we can be sure the copyright owner has viewed the form before
		     deciding to use the old school manual submission process instead. -->
		
			    <h1>Add a New Dispute</h1>
			    <form class="">

				    <div class="control-group" id="demo-tgt-1">
				      <label class="control-label" for="full_name">Your full name</label>
				      <div class="controls">
						<input tabindex="10" type="text" placeholder="John Doe" id="full_name" name="full_name" autofocus required>
						 <sup>* required</sup>
				      </div>
				    </div>

				    <div class="control-group" >
				      <label class="control-label" for="owners_full_name">Copyright owner's full name</label>
					      <div class="controls">
						<input tabindex="20" type="text" placeholder="John Doe" id="owners_full_name" name="owners_full_name">
				      </div>
				    </div>

				    <div class="control-group ">
				     <label class="control-label" for="job_title">Job title</label>
				      <div class="controls">
						<input tabindex="30" type="text" placeholder="Copyright screener" id="job_title" name="job_title" >
				      </div>
				    </div>

				    <div class="control-group">
				      <label class="control-label" for="email">Email:</label>
				      <div class="controls">
				        <input tabindex="40" type="text" placeholder="johndoe@example.com" name="email" id="email" required>
					    <sup>* required</sup>
				      </div>
					 
				    </div>

				    <div class="control-group">
				      <label class="control-label" for="fax">Fax:</label>
				      <div class="controls">
				        <input tabindex="50" type="text" placeholder="(800) 555-1212" name="fax" id="fax" >
				      </div>
					  				    </div>

				    <div class="control-group">
				      <label class="control-label" for="phone">Phone:</label>
				      <div class="controls">
				        <input tabindex="60" type="text" placeholder="(800) 555-1212" name="phone" id="phone" >
				      </div>
					 
				    </div>

				    <div class="control-group">
				      <label class="control-label" for="postal">Mailing address:</label>
				      <div class="controls">
				        <textarea tabindex="70" cols="30" rows="5" name="postal" id="postal" required></textarea>
						 <sup class="textarea-adjust">* required</sup>
				      </div>
									    </div>

			 <!-- end contact info -->

				<div class="co ar cloneblock"   id="clone_this">
				    <h1>About the claimed infringement</h1>

				    <div class="control-group" id="kill_switch_pre">
				      <label class="control-label" for="page">Page containing the infringement:</label>
				      <div class="controls">
				        <input tabindex="100" type="text" placeholder="http://example.com/somesong.mp3" required id="page" name="page" class="renum" >
						 <sup>* required</sup>
				      </div>
					  <div class="help-block"><a href="http://www.copyright.gov/title17/92chap5.html#512" target="new-window"><span class="icon-question-sign"></span></a> <em>The link that allegedly needs to be taken down.</em> If there is a specific file, the file's URL. If the copyright owner is alleging infringement by an external site which this site is linking to, give us the link on this site which contains the link to the external site. <a href="http://www.copyright.gov/title17/92chap5.html#512" target="new-window">Defined</a> as <q>Information reasonably sufficient to permit the service provider to locate the material. </q></div>
				    </div>

				    <div class="control-group">
				      <label class="control-label" for="anchor">Where is it in that page?</label>
				      <div class="controls">
				        <input tabindex="101" type="text" placeholder="Link titled &ldquo;The Beatles&rdquo;" id="anchor" name="anchor" class="renum" >
				      </div>
					  <div class="help-block"><a href="http://www.copyright.gov/title17/92chap5.html#512" target="new-window"><span class="icon-question-sign"></span></a> Point us to the part of the page that is the concern. The information you are providing here is defined in DMCA 512(c) as <q>Identification of the material to be removed</q>.</div>
				    </div>

				    <div class="control-group">
				      <label class="control-label" for="description">Which work is being infringed?</label>
				      <div class="controls">
						<input tabindex="102" type="text" placeholder="&ldquo;A Hard Day&apos;s Night&rdquo; by The Beatles" id="description" name="description" required class="renum" >
						 <sup>* required</sup>
				      </div>
					  <div class="hint help-block"><a href="http://www.copyright.gov/title17/92chap5.html#512"><span class="icon-question-sign"></span></a> The source work that is being infringed. If it's a song, say the artist, album and title. If it's a movie tell us the name, year, or anything else that defines the work. The information is this field is defined in the law as <q>Identification of the copyrighted work claimed to have been infringed</q>.</div>
				    </div>
				</div><!-- end .cloneblock -->
  	<button tabindex="1030"  class="btn btn-large btn-inverse">File Notification</button>

 </div>

						
							</div>
			</div><!-- end .span10 -->
				

				
		
	</form>


<script>
$(function() {
    var next_incident = 2;
    
    function renumberIncidents()
    {
        var count = 1;
        $('.infringement_number',document).each( function() {
            $(this).html( count++ );
            });
        next_incident = count;
    }
    
    $('#report_another').click( function() {
        
        function removeMe( fs ) {
            return function() {
                    $('#'+fs).remove();
                    renumberIncidents();
                    }
        }
        
        function renumber(base) {
            return function() {
                $(this).attr('tabindex', base++);
            }
        }
        var fsName = 'cloned_'+next_incident+'_';
        var firstTab = 100+(next_incident*20);

        $('#insert_before_here').before(
                    $('<fieldset>')
                         .html($('#clone_this').html())
                         .addClass( 'co ar' )
                         .attr('id', fsName)
                         .find('.infringement_number').html(next_incident).end()
                         .find('.renum').each( renumber(firstTab) ).end()
						 .find('input[type="text"]').focus().end()
                         .prepend( $('<div class="pull-right btn btn-danger">')
                                    .html('<i class="icon-remove"></i>')
                                    .attr('title',"Remove this item from the infringement notification")
                                    .click( removeMe(fsName) ))
                    );

		// put focus in the stuff we just added
		$("#"+fsName).find('input')[0].focus();
        
        ++next_incident;

		return(false); // dont submit form
    });

	$('#prefill').click(function(){
		$('#full_name').attr('value','John Doe');
		$('#email').attr('value','lucas.gonze@gmail.com');
		$('#phone').attr('value','(900) 555-1234');
		$('#postal').attr('value','1234 Main St Peoria IL 12345');
		$('#page').attr('value','http://example.com');
		$('#anchor').attr('value','In the blogroll');
		$('#description').attr('value','Billie Jean by Michael Jackson');
		$("input[type=checkbox]").attr("checked","checked");
		$("#signature").attr("value","/testing");
	})
});
</script>
</body>
</html>
