<div class="row">
<div  id="admin_add_dispute_form">

	<form action="/inbox/{{idhash}}" method="post" id="request" class="span10 form-horizontal">


			    <legend>Add a New Dispute</legend> <!--Add a new dispute ticket-->
			    <div id ="form_leftside">

				    <div class="large-bottom-margin control-group" id="demo-tgt-1">
				      <label class="control-label" for="full_name">Your full name</label>
				      <div class="controls">
						<input tabindex="10" type="text" placeholder="John Doe" id="full_name" name="full_name" class="input-xlarge" autofocus required>
						 <sup class="required">*required</sup>
				      </div>
				    </div>

				    <div class="control-group" >
				      <label class="control-label" for="owners_full_name">Copyright owner's full name</label>
					      <div class="controls">
						<input tabindex="20" type="text" placeholder="John Doe" id="owners_full_name" name="owners_full_name" class="input-xlarge">	 <sup class="required">*required</sup>
				      </div>
				    </div>

				    <div class="control-group ">
				     <label class="control-label" for="job_title">Job title</label>
				      <div class="controls">
						<input tabindex="30" type="text" placeholder="Copyright screener" id="job_title" name="job_title" class="input-xlarge">
				      </div>
				    </div>

				    <div class="control-group">
				      <label class="control-label" for="email">Email</label>
				      <div class="controls">
				        <input tabindex="40" type="text" placeholder="johndoe@example.com" name="email" id="email" class="input-xlarge" required>
					    <sup class="required">*required</sup>
				      </div>
					 
				    </div>

				    <div class="control-group">
				      <label class="control-label" for="fax">Fax</label>
				      <div class="controls">
				        <input tabindex="50" type="text" placeholder="(800) 555-1212" name="fax" id="fax" class="input-xlarge"> <sup class="required" >*required</sup>
				      </div>
					  				    </div>

				    <div class="control-group">
				      <label class="control-label" for="phone">Phone</label>
				      <div class="controls">
				        <input tabindex="60" type="text" placeholder="(800) 555-1212" name="phone" id="phone" class="input-xlarge" > <sup class="required" >*required</sup>
				      </div>
					 
				    </div>

				    <div class="control-group">
				      <label class="control-label" for="postal">Mailing address</label>
				      <div class="controls">
				        <textarea tabindex="70" cols="30" rows="5" name="postal" id="postal" class="mailing" required></textarea> <sup class="required">* required</sup>
				      </div>
									    </div>

			 <!-- end contact info -->

				<div class="co ar cloneblock"   id="clone_this">
				     <legend>The Claimed Infringement</legend>

				    <div class="control-group" id="kill_switch_pre">
				      <label class="control-label" for="page">Page containing the infringement</label>
				      <div class="controls">
				        <input tabindex="100" type="text" placeholder="http://example.com/somesong.mp3" required id="page" name="page" class="renum input-xlarge" >
						 <sup class="required">* required</sup>
				      </div>
					  <div class="help-block"><a href="http://www.copyright.gov/title17/92chap5.html#512" target="new-window"><span class="icon-question-sign"></span></a> <em>The link that allegedly needs to be taken down.</em> If there is a specific file, the file's URL. If the copyright owner is alleging infringement by an external site which this site is linking to, give us the link on this site which contains the link to the external site. <a href="http://www.copyright.gov/title17/92chap5.html#512" target="new-window">Defined</a> as <q>Information reasonably sufficient to permit the service provider to locate the material. </q></div>
				    </div>

				    <div class="control-group">
				      <label class="control-label" for="anchor">Where is it in that page?</label>
				      <div class="controls">
				        <input tabindex="101" type="text" placeholder="Link titled &ldquo;The Beatles&rdquo;" id="anchor" name="anchor" class="renum input-xlarge" >
				      </div>
					  <div class="help-block"><a href="http://www.copyright.gov/title17/92chap5.html#512" target="new-window"><span class="icon-question-sign"></span></a> Point us to the part of the page that is the concern. The information you are providing here is defined in DMCA 512(c) as <q>Identification of the material to be removed</q>.</div>
				    </div>

				    <div class="control-group">
				      <label class="control-label" for="description">Which work is being infringed?</label>
				      <div class="controls">
						<input tabindex="102" type="text" placeholder="&ldquo;A Hard Day&apos;s Night&rdquo; by The Beatles" id="description" name="description" required class="renum input-xlarge" >
						 <sup class="required">* required</sup>
				      </div>
					  <div class="hint help-block"><a href="http://www.copyright.gov/title17/92chap5.html#512"><span class="icon-question-sign"></span></a> The source work that is being infringed. If it's a song, say the artist, album and title. If it's a movie tell us the name, year, or anything else that defines the work. The information is this field is defined in the law as <q>Identification of the copyrighted work claimed to have been infringed</q>.</div>
				    </div>
				</div><!-- end .cloneblock -->
				
 <div class="form-actions no-gray">
  	<button tabindex="1030"  class="btn btn-large btn-inverse">File Notification</button> <button type="button" class="btn btn-large">Cancel</button>
</div>
 </div><!-- end .span10 -->
</div>					

	
</div>

