
<ol class="takedownlist">

    {{#each auditItems}}
	<li>
	
		<div class="suggestedactions">
			<p>Suggested Action(s):</p>
			{{#each suggested}}
    			<p><a href="{{this.url}}" class="btn">{{this.text}}</a></p>
    		{{/each}}
		</div>
		<p><label>Date of filing:</label>{{this.formatted_date}}</p>
		<p><label>Work:</label>{{this.name}}</p>
		<p><label>Urgency:</label> <span class="label label-{{this.level}}">{{this.levelText}}</span></p>
		<p><label>Status:</label>{{this.caption}}</p>
		<p><label></label><a href="synopsis-justfiled" class="viewrequest"><i class="icon-info-sign"></i> Detailed View</a></p>
		<div class="clearer"></div>
	</li>
	{{/each}}

</ol>

