<ul class="nav nav-tabs">
  <li class="active"><a href="/dash">To Do</a></li>
  <li><a href="/dash/list">List</a></li>
  <li><a href="/dash/stats">Stats</a></li>
</ul>

<ol class="takedownlist">

    {{#each auditItems}}
	<li>
	
		<div class="suggestedactions">
			<p>Suggested Action(s):</p>
			{{#each suggested}}
    			<p><a href="{{this.url}}" class="btn">{{this.text}}</a></p>
    		{{/each}}
		</div>
		<p><label>Date of filing:</label>{{this.formatted_date}}</p>
		<p><label>Work:</label>{{this.name}}</p>
		<p><label>Urgency:</label> <span class="label label-{{this.level}}">{{this.levelText}}</span></p>
		<p><label>Status:</label>{{this.caption}}</p>
		<p><label></label><a href="synopsis-justfiled" class="viewrequest"><i class="icon-info-sign"></i> Detailed View</a></p>
		<div class="clearer"></div>
	</li>
	{{/each}}
<!-- 

    			<p><a href="fixme" class="btn">Not a DMCA takedown request</a></p>
			<p><a href="fixme" class="btn">Take down content</a></p>
			<p><a href="fixme" class="btn">Return to submitter for corrections</a></p>

	<li>
		<div class="suggestedactions">
			<p>Suggested Action(s):</p>
			<p><a href="fixme" class="btn">Triage Email</a></p>
		</div>
		<p><label>Date of filing:</label>May 2, 2222</p>
		<p><label>Work:</label>Good'n</p>
		<p><label>Urgency:</label> <span class="label label-important">High</span></p>
		<p><label>Status:</label>Email Received. Triage Needed.</p>
		<p><label></label><a href="synopsis" class="viewrequest"><i class="icon-info-sign"></i> Detailed View</a></p>
	</li>

	<li>
		<div class="suggestedactions">
			<p>Suggested Action(s):</p>
			<p><a href="fixme" class="btn">Triage Physical Mail</a></p>
		</div>
		<p><label>Date of filing:</label>November 31, 1966</p>
		<p><label>Work:</label>STAIRWAY TO HEAVEN</p>
		<p><label>Urgency:</label> <span class="label label-important">High</span></p>
		<p><label>Status:</label>"Physical mail received. Triage needed."</p>
		<p><label></label><a href="synopsis" class="viewrequest"><i class="icon-info-sign"></i> Detailed View</a></p>
	</li>

	<li>
		<div class="suggestedactions">
			<p>Suggested Action(s):</p>
			<p><a href="fixme" class="btn">Flag Repeat Infringer</a></p>
		</div>
		<p><label>Date of filing:</label>April 16 ,016</p>
		<p><label>Work:</label>August Pre-Ops</p>
		<p><label>Urgency:</label> <span class="label label-important">High</span></p>
		<p><label>Status:</label>Taken down, no counter notification, window for counter notification expired</p>
		<p><label></label><a href="synopsis" class="viewrequest"><i class="icon-info-sign"></i> Detailed View</a></p>
	</li>

	<li>
		<div class="suggestedactions">
			<p>Suggested Action(s):</p>
			<p><a href="fixme" class="btn">Put Back Work(s)</a></p>
			<p><a href="fixme" class="btn">Flag Requester</a></p>
		</div>
		<p><label>Date of filing:</label>Jan 4 2014</p>
		<p><label>Work:</label>Oops I did it again</p>
		<p><label>Urgency:</label> <span class="label label-warning">Medium</span></p>
		<p><label>Status:</label>Retracted</p>
		<p><label></label><a href="synopsis" class="viewrequest"><i class="icon-info-sign"></i> Detailed View</a></p>
	</li>

	<li>
		<div class="suggestedactions">
			<p>Suggested Action(s):</p>
			<p><a href="fixme" class="btn">Put Back Work(s)</a></p>
			<p><a href="fixme" class="btn">Flag Requester</a></p>
		</div>
		<p><label>Date of filing:</label>April 1, 2012</p>
		<p><label>Work:</label>White Pants Are Unacceptable</p>
		<p><label>Urgency:</label> <span class="label label-warning">Medium</span></p>
		<p><label>Status:</label>Counter notification sent, no response from complainer, complainer has run out of time to file suit.</p>
		<p><label></label><a href="synopsis" class="viewrequest"><i class="icon-info-sign"></i> Detailed View</a></p>
	</li>

	<li>
		<div class="suggestedactions">
			<p>Suggested Action(s):</p>
			<p><a href="fixme" class="btn">Flag Repeat Infringer</a></p>
		</div>
		<p><label>Date of filing:</label>March 3 2011</p>
		<p><label>Work:</label>Hello Smotchkiss</p>
		<p><label>Urgency:</label> <span class="label label-warning">Medium</span></p>
		<p><label>Status:</label>Counter notification sent, complainer filed suit</p>
		<p><label></label><a href="synopsis" class="viewrequest"><i class="icon-info-sign"></i> Detailed View</a></p>
	</li>

	<li>
		<div class="suggestedactions">
			<p>Suggested Action(s):</p>
			<p>Wait for opportunity to file counter-notification to expire.</p>
		</div>
		<p><label>Date of filing:</label>March 1 2012</p>
		<p><label>Work:</label>Titling at Windmills</p>
		<p><label>Urgency:</label> <span class="label label-info">Low</span></p>
		<p><label>Status:</label>Taken down, further correspondence still possible, no further correspondence yet</p>
		<p><label></label><a href="synopsis" class="viewrequest"><i class="icon-info-sign"></i> Detailed View</a></p>
	</li>

	<li>
		<div class="suggestedactions">
			<p>Suggested Action(s):</p>
			<p>Wait for requester to submit corrections.</p>
		</div>
		<p><label>Date of filing:</label>January 44, 2022</p>
		<p><label>Work:</label>Red Tomato</p>
		<p><label>Urgency:</label> <span class="label label-success">None</span></p>
		<p><label>Status:</label>Not yet valid. Returned to submitter for further information”</p>
		<p><label></label><a href="synopsis" class="viewrequest"><i class="icon-info-sign"></i> Detailed View</a></p>
	</li>

	<li>
		<div class="suggestedactions">
			<p>Suggested Action(s):</p>
			<p>Wait for lawsuit filing window to expire.</p>
		</div>
		<p><label>Date of filing:</label>Feb 3 2012</p>
		<p><label>Work:</label>Dong Key</p>
		<p><label>Urgency:</label> <span class="label label-success">None</span></p>
		<p><label>Status:</label>Counter notification sent, no response from complainer yet, complainer still has time to file suit.</p>
		<p><label></label><a href="synopsis" class="viewrequest"><i class="icon-info-sign"></i> Detailed View</a></p>
	</li>

	<li>
		<div class="suggestedactions">
			<p>Suggested Action(s):</p>
			<p><a href="fixme" class="btn">Flag Requester</a></p>
		</div>
		<p><label>Date of filing:</label>January 1, 1011</p>
		<p><label>Work:</label>Fresh Skillz</p>
		<p><label>Urgency:</label> <span class="label label-success">None</span></p>
		<p><label>Status:</label>Not a DMCA takedown request</p>
		<p><label></label><a href="synopsis" class="viewrequest"><i class="icon-info-sign"></i> Detailed View</a></p>
	</li>
-->

</ol>

