<!--All Dispute Types 
there are three versions of a dispute so far- 

a Single Dispute with the website name & logo, 
a Single Dispute without the associated website name & logo,
a CLOSED single dispute with the website name & logo
--> 


<!--Begin Single Dispute with Website Name & Logo-->
  
 <!-- Begin Single Dispute List Item -->
              <div class="row">
                <div class="span12">
                  <div class="single-dispute">
                  <div class="company-logo-box">
<div class="company-logo"> <img src='paige/img/youtube_sm.jpg' alt="" title="" />
 </div></div>
                     <!-- Begin a block holding information about the Infringement and the Resolve Button so they stack nicely-->
                  <div class="infringement-list-resolve-button">
  <ul class="infringement-list">
                                        
                            <li class="infringement-title"><h2>Led Zeppelin Stairway to Heaven Live in NYC</h2></li>
                          <li class="infringement-url"><a href=
                            "http://www.youtube.com/watch?v=9Q7Vr3yQYWQvnovenoindfnv">http://www.youtube.com/watch?v=9Q7Vr3yQYWQvnovenoindf</a></li>

                          <li class="arrival-date">June 02, 2012</li>
                          <li class="open">Open Dispute <span class="italic"> 3 days until Dispute is Critical</span></li>
                        
</ul>   <!--End Infringement Listing-->
                     <!--Begin Resolve Dispute Button -->

                    <div class="resolve">
                      <a href="#" class="btn btn-large" type="button">Resolve Dispute</a>
                    </div><!--End Resolve Dispute Button -->
                                       </div>
                     

                <!-- End a block holding the infringement information and the resolve button so they stack nicely-->
                   
                   <!--Begin Preview Image of Dispute on Website -->

                    <div class="preview-image-box">
                      <a href="#" class="preview-image" title="preview dispute">here</i></a>
                    </div><!--End Preview Image of Dispute on Website -->
                   
                   <div class="copyright-table-box"> 
                   <!-- Copyright Holder Table-->

                    <div class="copyright-table ">
                      <table class="table">
                        <thead>
                          <tr class="">
                            <th class="left">Copyright Holder</th>

                            <th>Jeffrey John Joseph Long Name</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td class="left">Submitted by</td>

                            <td>Joe Jackson Really Really Long Name</td>
                          </tr>

                          <tr>
                            <td></td>
                          </tr>

                          <tr>
                            <td class="left">Job Title</td>

                            <td class="right">Administrator of Really Long Things</td>
                          </tr>

                          <tr>
                            <td class="left">Email</td>

                            <td><a href="mailto:%20you@yourreallylongemail.com" class=
                            "email_link">you@yourreallylongemail.com</a></td>
                          </tr>

                          <tr>
                            <td class="left">Phone</td>

                            <td class="right">+31 224 234 2345</td>
                          </tr>

                          <tr>
                            <td class="left">Fax</td>

                            <td class="right">+31 224 234 2345</td>
                          </tr>

                          <tr>
                            <td class="left">Address</td>

                            <td class="right address">Safeharbor Corp. PO Box 1234 West 76th St. <br/>New York, NY 12345 USA</td>
                          </tr>
                        </tbody>
                      </table>
                    </div><!--End Copyright Holder Table-->
                  </div>                  
                </div>
              </div><!-- End Single Dispute List Item -->
      </div>
      
  


<!--End Single Dispute with Website Name & Logo-->



<!--Begin Single Dispute with NO Website Name & Logo-->
<!--End Single Dispute with NO Website Name & Logo-->



<!--Begin CLOSED Single Dispute with Website Name & Logo-->
<!--End CLOSED Single Dispute with Website Name & Logo-->