
{{#each disputes}}{{#with this}}

<!--
{{sitename}}
{{sitelogo}}
{{domain}}						
-->

<!--Begin Single Dispute with Website Name & Logo-->
   <!-- Begin Single Dispute List Item -->
              <div class="row">
                <div class="span12">
                  <div class="single-dispute">
                  
                     <!-- Begin a block holding the dispute table and the resolve button so they stack nicely-->
                  <div class="dispute-table-resolve-button">
                    <div class="dispute-table">
                      <table class="table">
                       <table>
<tr>
<th>{{description}}</th>

</tr>
<tr>
<td>URL:<a href="{{media_url}}" alt="{{media_url}}" title="{{media_url}}">{{media_url}}</a></td>
</tr>
<tr>
 <td>{{creation}}</td>
</tr>
<tr>
 <td>Open Dispute <p class="italic">3 days until Dispute is Critical</p></td>
</tr>
</table>                     
</div><!--End Dispute Content Table -->
                     <!--Begin Resolve Dispute Button -->

                    <div class="resolve">
                      <a href="#fixme:resolvedispute" class="btn btn-large" type="button">Resolve Dispute</a>
                    </div><!--End Resolve Dispute Button -->

                   </div><!-- End a block holding the dispute table and the resolve button so they stack nicely-->
                   
                   <!--Begin Preview Image of Dispute on Website -->

                    <div class="preview_image_box">
                      <a href="#fixme:preview_image" class="preview_image" title="preview_dispute">here</a>
                    </div><!--End Preview Image of Dispute on Website -->
                    <!-- Copyright Holder Table-->
                    <div class="copyright-table well well-small">
                      <table class="table">
                        <thead>
                          <tr class="">
                            <th class="left">Copyright Holder</th>

                            <th>{{owners_full_name}}</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td class="left">Submitted by</td>

                            <td>{{full_name}}</td>
                          </tr>

                          <tr>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="left">Job Title</td>

                            <td class="right">{{job_title}}</td>
                          </tr>

                          <tr>
                            <td class="left">Email</td>

                            <td><a href="mailto:{{email}}" class=
                            "email_link">{{email}}</a></td>
                          </tr>

                          <tr>
                            <td class="left">Phone</td>

                            <td class="right">{{phone}}</td>
                          </tr>

                          <tr>
                            <td class="left">Fax</td>

                            <td class="right">{{fax}}</td>
                          </tr>

                          <tr>
                            <td class="left">Address</td>

                            <td class="right">{{postal}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div><!--End Copyright Holder Table-->
                                     </div>
                </div>
              </div><!-- End Single Dispute List Item -->
<!--End Single Dispute with Website Name & Logo-->

{{/with}}{{/each}}