{{#if false}} 
This code is for listing disputes by a user with a single site. Closed disputes and multiple sites are out of scope. There is also a related scrap in main.html that is enabled by setting the var single-site-open-disputes.
{{/if}}

{{#each disputes}}{{#with this}}

<!-- Begin Single Dispute List Item -->
<div class="row">
  <div class="span12">
    <div class="single-dispute-no-logo">

	    <!-- Begin a block holding information about the Infringement and the Resolve Button so they stack nicely-->
	    <div class="infringement-list-resolve-button">
			<ul class="infringement-list">                          
				<li class="infringement-title"><h2>{{description}}</h2></li>
				<li class="infringement-url"><a href="{{media_url}}">{{media_url}}</a></li>
				<li class="arrival-date"><i class="icon-folder-open"></i> {{creation}}</li>
				{{#if false}}
				This code stubbed out for work on the "passive listings" milestone, because this code
				doesn't make sense until the "close dispute" button is re-enabled.
				<li class="open">Open Dispute <span class="italic"> 3 days until Dispute is Critical</span></li>
				{{/if}}
			</ul>   <!--End Infringement Listing-->

			{{#if false}}
			This code stubbed out for work on the "passive listings" milestone, because this code
			doesn't make sense until the "close dispute" button is re-enabled.
		    <!--Begin Resolve Dispute Button -->
			<div class="resolve">
				<a href="#" class="btn btn-primary" type="button">Resolve Dispute</a>
			</div>
			{{/if}}
			<!--End Resolve Dispute Button -->		

	</div><!-- /infringement-list-resolve-button -->
	<!-- End a block holding the infringement information and the resolve button so they stack nicely-->
     
     <!--Begin Preview Image of Dispute on Website -->
      <div class="preview-image-box">
        <a href="#" class="preview-image" title="preview dispute">here</i></a>
      </div><!--End Preview Image of Dispute on Website -->
     
     <div class="copyright-table-box"> 
     <!-- Copyright Holder Table-->

      <div class="copyright-table ">
        <table class="table">
          <thead>
            <tr class=""><th class="left">Copyright Holder</th><th>{{owners_full_name}}</th></tr>
          </thead>

          <tbody>
            <tr><td class="left">Submitted by</td><td>{{full_name}}</td></tr>
            <tr><td></td></tr>
            <tr><td class="left">Job Title</td><td class="right">{{job_title}}</td></tr>
            <tr><td class="left">Email</td><td><a href="mailto:{{email}}" class="email_link">{{email}}</a></td></tr>
            <tr><td class="left">Phone</td><td class="right">{{phone}}</td></tr>
            <tr><td class="left">Fax</td><td class="right">{{fax}}</td></tr>
            <tr><td class="left">Address</td><td class="right"><address>{{postal}}</address></td></tr>
          </tbody>

        </table>
      </div><!--End Copyright Holder Table-->
    </div>                  
  </div>
</div><!-- /span12 --><!-- End Single Dispute List Item -->
</div><!-- /row -->

{{/with}}{{/each}}


