<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Safeharbor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/paige/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="/paige/css/safe_bootstrap.css" rel="stylesheet">
    <link href="/paige/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/paige/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/paige/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/paige/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/paige/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/paige/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
<!--Begin Navigation-->
    <div class="navbar navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!-- <a class="brand" href="#">Safeharbor</a> -->
          <div class="nav-collapse collapse">
            <ul class="nav">
            
                           <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">All Accounts <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Youtube.com</a></li>
                  <li><a href="#">Etsy.com</a></li>
                  <li><a href="#">Heineken.com</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Other Actions</li>
                  <li><a href="#">+ Add a new Website</a></li>
                  <!-- <li><a href="#">Other Action</a></li> -->
                </ul>
              </li>
            </ul>
         
          <!--
  <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
-->

 <ul class="nav pull-right">
   <li class="active"><a href="#">+ Add a New Website</a></li>
                                         <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">you@youremail.com<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Account Settings</a></li>
                  <li><a href="#">Billing</a></li>
          
                  <li class="divider"></li>
                  <li class="nav-header">Other Actions</li>
                  <li><a href="#">Logout</a></li>
                  <!-- <li><a href="#">Other Action</a></li> -->
                </ul>
              </li>
            </ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
<!--End Navigation-->

    <div class="container">

<!=============
End Header
========>
       
    
  <div class="row">
  <div class="span11 alert">
    <button type="button" class="close" data-dismiss="alert">?</button>
    <strong>Warning!</strong> Best check yo self, you're not looking too good.
    </div>
    </div>
    

<!--Begin Page Header: Website Name & Count of Disputes --> 
<div class="row">
<div class="span11">
<div id="page-header"><h1><small>234 Open Disputes</small></h1>
<!-- For the 'home' tab, all properties we would instead of [website name] show All Disputes in the Page Title-->
</div>
</div>
</div>
<!--End Page Header: Website Name & Count of Disputes --> 
    


    <!--Begin Disputes Listing Tabbed Navigation-->
    <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Open Disputes </a></li>
    <li><a href="#tab2" data-toggle="tab">Closed Disputes</a></li>
     <li><a href="#tab3" data-toggle="tab">Settings</a></li>
      <li class="disabled"><a href="#tab3" data-toggle="tab" >Statistics</a></li>

   <!--Begin Search Bar -->  
 <li class="search"><input type="text" class="search-query" placeholder="Search All Disputes">
    </li>
    </ul>
<!--End Search Bar -->  
 
        <div class="main tab-content">
    <div class="tab-pane active" id="tab1 open">
   <!--Begin Sort Listing of Disputes by Newest to Oldest Toggle-->
<div class="row">
<div id="sort-list">
<a href="#" id="sort-list-link" class="pull-right">Sorted Newest to Oldest</a> 
</div>
</div>

     <!--End Sort Listing of Disputes by Newest to Oldest Toggle-->



  	
  	
  	  	<!-- Begin Listing All The Disputes
    ================================================== -->
    
  <!-- Begin Single Dispute List Item -->
 
<div class="row">
<div class="span11">

<div class="row">
<div class="span12"><div class="single-dispute">
<div class="dispute-table">
            <table class="table">
              <thead>
                <tr class="company">
                  <th class="company_logo"><img src="file:///Volumes/makerlab/Users/paigedestroy/Desktop/paige-markup/bootstrap/docs/assets/img/youtube_sm.jpg" alt="" title="" /></th>

                  <th class="company_name"><a href="#">Youtube.com</a></th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td class="left">Infringement of</td>

                  <td>Led Zeppelin Stairway to Heaven Live in NYC</td>
                </tr>

                <tr>
                  <td></td>
                </tr>

                <tr>
                  <!--max char limit for URL should be 53 char, then truncate-->

                  <td class="left">URL</td>

                  <td class="right"><a href=
                  "www.youtube.com/watch?v=9Q7Vr3yQYWQvnovenoindfnv">www.youtube.com/watch?v=9Q7Vr3yQYWQvnovenoindf</a></td>
                </tr>

                <tr>
                  <td class="left">Date Filed</td>

                  <td>June 02, 2012</td>
                </tr>

                <tr>
                  <td class="left">Status</td>

                  <td class="right open">
                    Open

                    <p class="italic">3 days until Dispute is Critical</p>
                  </td>
                </tr>
              </tbody>
            </table>
            
 </div>
<!--End Dispute Content Table -->

<!--Begin Preview Image of Dispute on Website -->
            <div class="preview_image_box">
              <a href="#" class="preview_image" title="preview_dispute">here</a>
              </div>
<!--End Preview Image of Dispute on Website -->

           
<!-- Copyright Holder Table-->

          <div class="copyright-table">
            <table class="table">
              <thead>
                <tr class="">
                  <th class="left">Copyright Holder</th>

                  <th>Jeffrey John Joseph Long Name</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td class="left">Submitted by</td>

                  <td>Joe Jackson Really Really Long Name</td>
                </tr>

                <tr>
                  <td></td>
                </tr>

                <tr>
                  <td class="left">Job Title</td>

                  <td class="right">Administrator of Really Long Things</td>
                </tr>

                <tr>
                  <td class="left">Email</td>

                  <td><a href="mailto:%20you@yourreallylongemail.com" class=
                  "email_link">you@yourreallylongemail.com</a></td>
                </tr>

                <tr>
                  <td class="left">Phone</td>

                  <td class="right">+31 224 234 2345</td>
                </tr>

                <tr>
                  <td class="left">Fax</td>

                  <td class="right">+31 224 234 2345</td>
                </tr>

                <tr>
                  <td class="left">Address</td>

                  <td class="right">1234 West 76th Street Apt.#120 New York, NY
                  12345</td>
                </tr>
              </tbody>
            </table>
          </div>
              <!--End Copyright Holder Table-->
        <!--Begin Resolve Dispute Button -->
          <div class="resolve"> <a href="#" class="btn btn-large" type="button">Resolve Dispute</a></div>
          <!--End Resolve Dispute Button -->

        
        
     

</div>
</div>       
  </div>      <!-- End Single Dispute List Item -->

 </div>
 </div>



      
  	<!-- End Listing All The Disputes
    ================================================== -->
    
    
       </div>
    </div>
     </div>
    
    <div class="tab-pane" id="tab2 closed">
 
 
    </div>
    </div>
        <!--End Disputes Listing Tabbed Navigation-->
      
 
<!--Begin Footer Navigation---

<div class="navbar navbar-fixed-bottom">
  <footer>
        <a href="#" alt="" title="">Company</a>
        <a href="#" alt="" title="">Copyright</a>
        <a href="#" alt="" title="">Terms of Service</a> 
        <a href="#" alt="" title="">Support</a>
        <a href="#" alt="" title="">Sales</a>
        <a href="#" alt="" title="">Contact Us</a>
        </p>
      </footer>
  
</div><!--End Footer Navigation-->


   <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/paige/js/jquery.js"></script>
    <script src="/paige/js/bootstrap-transition.js"></script>
    <script src="/paige/js/bootstrap-alert.js"></script>
    <script src="/paige/js/bootstrap-modal.js"></script>
    <script src="/paige/js/bootstrap-dropdown.js"></script>
    <script src="/paige/js/bootstrap-scrollspy.js"></script>
    <script src="/paige/js/bootstrap-tab.js"></script>
    <script src="/paige/js/bootstrap-tooltip.js"></script>
    <script src="/paige/js/bootstrap-popover.js"></script>
    <script src="/paige/js/bootstrap-button.js"></script>
    <script src="/paige/js/bootstrap-collapse.js"></script>
    <script src="/paige/js/bootstrap-carousel.js"></script>
    <script src="/paige/js/bootstrap-typeahead.js"></script>

  </body>
</html>
