<form method="post" action="/inbox/40">
 belief: <input name="belief" value="on" /> <br />
 authorized: <input name="authorized" value="on" /> <br />


  owners_full_name: <input name="owners_full_name" value="fullNaming" /> <br />
  full_name: <input name="full_name" value="Victor Stone" /> <br />
  job_title: <input name="job_title" value="copy thug" /> <br />  
  postal: <input name="postal" value="aefewfijw aweifjaew few " /> <br />
  email: <input name="email" value="victor.stodne@gmail.com" /> <br />
  phone: <input name="phone" value="5107175153" /> <br />
  fax: <input name="fax" value="888393993" /> <br />

  description: <input name="description" value="work is being" /> <br /> 
  description: <input name="description" value="desc2" /> <br />
  media_url: <input name="media_url" value="http://somemedia.mp3" /> <br />
  media_url: <input name="media_url" value="http://someothermedia.mp3" /> <br />
  page: <input name="page" value="http://localhost.com/inbox/24738" /> <br />
  page: <input name="page" value="http://localhost.net/inbox/24738" /> <br />
  anchor: <input name="anchor" value="ch work is be" /> <br />
  anchor: <input name="anchor" value="page2" /> <br />

<input type="submit" /> <br />
</form>