<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{#if sitename}}{{sitename}}{{else}}Safeharbor.in{{/if}}{{#if pageTitle}} - {{pageTitle}}{{/if}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"/>
</head>

<body><!-- Begin Single Dispute List Item in an Email Template-->


<h2 style="color: #666666;">A takedown request has been submitted for the site '{{sitename}}' at {{domain}}.</h2>
   
		<!--Begin Infringement Listing-->

			 <ul style="list-style: none; 
margin: 0; 
padding: 0;">
				<li class="infringement-title" style="margin: 0; 
padding: 0;">description</li>
				<li class="infringement-url" style="margin: 0; 
padding: 0;"><a href="file:///Volumes/makerlab/Users/paigedestroy/Desktop/%7B%7Bmedia_url%7D%7D" style="color: #666666;">media_url</a></li>
				<li class="arrival-date" style="margin: 0; 
padding: 0;">creation</li>
				<li class="open" style="margin: 0; 
padding: 0;">Open Dispute <span class="italic"> 3 days until Dispute is Critical</span></li>
					</ul>   
		<!--End Infringement Listing-->
		
<div id="in-email-links">		 
<ul style="list-style: none; ">
	<!--Begin From Email, Go to Safeharbor to see Dispute-->
<li style="margin: 0; 
padding: 0;"><h3><a href="#" class="dispute-link" title="dispute-link" style="text-align: center; color: #666666;">Link back to safeharbor/dispute ticket should go here, be clickable</a></h3></li><!--End From Email, Go to Safeharbor to see Dispute-->		
</ul>
</div>	

	
 <!-- Begin Copyright Holder Table-->

      <div class="copyright-table ">
        <table class="table">
          <thead>
          </thead>

          <tbody>
            <tr><td class="left">Copyright Holder</td><td class="right">owners_full_name</td></tr>
            <tr><td class="left">Submitted by</td><td class="right">full_name</td></tr>
            <tr><td class="left">Job Title</td><td class="right">job_title</td></tr>
            <tr><td class="left">Email</td><td><a href="mailto:%7B%7Bemail%7D%7D" class="email_link right">email</a></td></tr>
            <tr><td class="left">Phone</td><td class="right">phone</td></tr>
            <tr><td class="left">Fax</td><td class="right">fax</td></tr>
            <tr><td class="left">Address</td><td class="right"><address>postal</address></td></tr>
          </tbody>

        </table>
      </div><!--End Copyright Holder Table-->   
      
      
      <div id="email-footer" style="border-top: 1px solid #666666; margin: 20px 0px 20px 0px;">
      
					<p>This tool for managing alleged copyright infringement is provided for {{site.name}} by SafeHarbor.in. SafeHarbor.in provides services for DMCA compliance. Our mission is to reduce risk, expense, and stress for web sites while being effective and efficient for copyright owners. </p>
					<ul style="list-style: none; 
margin: 0; 
padding: 0;
">
						<li style="margin: 0; 
padding: 0 3px 0px 0px; display: inline ;" ><a href="#">&#169; Safeharbor</a></li>
						<li style="margin: 0; 
padding: 0 3px 0px 0px; display: inline ;"><a href="#">Company</a></li>

						<li style="margin: 0; 
padding: 0 3px 0px 0px; display: inline ;"><a href="#">Contact Us</a></li>
					</ul>
				</div>

      
      
      
      
      
      
               
  <!-- End Single Dispute List Item in an Email-->


</body></html>