<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>{{#if sitename}}{{sitename}}{{else}}Safeharbor.in{{/if}}{{#if pageTitle}} - {{pageTitle}}{{/if}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/dash/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      
      ul {
      list-style: none;
      margin: 0;
      padding: 0;
      
      }
 ul li {
margin: 0; 
padding: 0 3px 0px 0px; 
display: inline 
;}

h2, tr {
color: #666;
}

p {
color: #000000;
}

#email-footer {
border-top: 1px solid #666666; margin: 20px 0px 20px 0px;
}
    </style>
    <link href="/dash/css/safe_bootstrap.css" rel="stylesheet">
    <link href="/dash/css/bootstrap-responsive.css" rel="stylesheet">

	<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/dash/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/dash/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/dash/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/dash/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/dash/ico/apple-touch-icon-57-precomposed.png">

	<!-- JS is ordinarily at the end for speed but we need it before the body so that view pages 
		can load custom libraries which rely on JQuery-->
    <script src="/dash/js/jquery.js"></script>
</head>

<body><!-- Begin Single Dispute List Item in an Email Template-->


<h2>A takedown request has been submitted for Youtube</h2>
   
		<!--Begin Infringement Listing-->

			 <ul >
				<li class="infringement-title">Stairway to Heaven by Led Zeppelin LIVE</li>
				<li class="infringement-url" ><a href="file:///Volumes/makerlab/Users/paigedestroy/Desktop/%7B%7Bmedia_url%7D%7D" >media_url</a></li>
				<li class="arrival-date">June 2, 2012  3:45pm</li>
				<li class="open">Dispute is Open<span class="italic"> 3 days until Dispute is Critical</span></li>
					</ul>   
		<!--End Infringement Listing-->
		
<div id="in-email-links">		 
<ul >
	<!--Begin From Email, Go to Safeharbor to see Dispute-->
<li ><h3><a href="#" class="dispute-link" title="dispute-link" >Link to Dispute Ticket: </a></h3></li><!--End From Email, Go to Safeharbor to see Dispute-->		
</ul>
</div>	

	
 <!-- Begin Copyright Holder Table-->

      <div class="copyright-table ">
        <table class="table">
          <thead>
          </thead>

          <tbody>
            <tr ><td class="left">Copyright Holder</td><td class="right">owners_full_name</td></tr>
            <tr ><td class="left">Submitted by</td><td class="right">full_name</td></tr>
            <tr ><td class="left">Job Title</td><td class="right">job_title</td></tr>
            <tr ><td class="left">Email</td><td><a href="mailto:%7B%7Bemail%7D%7D" class="email_link right" >email</a></td></tr>
            <tr ><td class="left">Phone</td><td class="right">phone</td></tr>
            <tr ><td class="left">Fax</td><td class="right">fax</td></tr>
            <tr ><td class="left">Address</td><td class="right"><address>postal</address></td></tr>
          </tbody>

        </table>
      </div><!--End Copyright Holder Table-->   
      
      
      <div id="email-footer">
      
<p >This tool for managing alleged copyright infringement is provided for {{site.name}} by SafeHarbor.in. SafeHarbor.in provides services for DMCA compliance. Our mission is to reduce risk, expense, and stress for web sites while being effective and efficient for copyright owners. </p>
					<ul class="footer-links">
						<li><a href="#">&#169; Safeharbor</a></li>
						<li><a href="#">Company</a></li>
						<li><a href="#" >Contact Us</a></li>
					</ul>
				</div>

      
  <!-- End Single Dispute List Item in an Email-->


</body></html>