<!DOCTYPE html>

<html>
<head>
    <title>Safeharbor</title>
    <link href="stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
    <link href="stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
    <link href="stylesheets/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css">
    <link href="stylesheets/blanca.css" media="screen" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="javascripts/application.js" type="text/javascript">
</script>
</head>

<body>
    <div id="nav" class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
<a href="index.html" class="brand">Safeharbor</a>

               <div class="nav-collapse">
					<ul class="nav">
						<li class="active"><a href="index.html">Our Mission</a></li>
						<li><a href="#">Our Team</a></li>
						<li><a href="#">FAQ</a></li>
							<li><a href="#">Contact Us</a></li>
											</ul>
                    <ul class="nav pull-right">
                        <li><a href="">Register</a></li>

                        <li><a href="">Sign In</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="stripe">
        <div class="container">
            <h1 class="safeharbor">DMCA Compliance as a Service<br>
            <small>SafeHarbor.in</small></h1>
        </div>
    </div>
    <hr>

    <div class="stripe landing-message">
        <div class="container">
            <h3>"Handling copyright issues is what we do best.<br>
            Using our tools will take the threat of copyright disputes off your shoulders.<br>
            You can concentrate on what you do best."</h3>
        </div>
    </div><!--
    <div class="stripe hero">
        <div class="container">
            <img src="images/apple-desk.jpeg" />
        </div>
    </div>
-->
    <!--
    <div class="stripe stripe-color">
        <div class="container">
            <div id="download-now" class="row">
                <div class="span12">                    
                    <h2><a href="" class="btn btn-primary btn-large">Download Now</a> Project App<small> is a fine piece of software by <a href="/templates/1">SafeHarbor.in</a></h2>
                    </div>
                </div>
            </div>
        </div>
        
-->
    <hr>
    <!--Begin Product Facts -->

    <div class="stripe">
        <div class="container">
            <!-- Example row of columns -->

            <div class="row">
                <div class="span3">
                    <img alt="Cloud" class="feature-icon" src="images/cloud.png">

                    <h2>Get it right</h2>

                    <p>You won&rsquo;t make costly mistakes complying with the DMCA rules because we&rsquo;ve learned the law and streamlined the process for you.</p>
                </div>

                <div class="span3">
                    <img alt="Browser" class="feature-icon" src="images/browser.png">

                    <h2>Worry Less</h2>

                    <p>Outsource copyright infringement liability worries to us and you will sleep better at night.</p>
                </div>

                <div class="span3">
                    <img alt="Music" class="feature-icon" src="images/music.png">

                    <h2>Save Money</h2>

                    <p>We&rsquo;re cheaper than developing software yourself or calling an attorney.</p>
                </div>

                <div class="span3">
                    <img alt="Music" class="feature-icon" src="images/music.png">

                    <h2>Stay Focused</h2>

                    <p>Do your users post content that poses copyright infringement risk? Have you ever received a DMCA takedown notice?</p>
                </div>
            </div><!--End Product Facts -->
                        <!--Begin Our Mission-->

            <div class="stripe">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="page-header">
                                <h1>Our Mission</h1>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span4">
                            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

                            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                        </div>

                        <div class="span4">
                            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>

                            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                        </div>

                        <div class="span4">
                            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>

                            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                        </div>
                    </div>
                </div>
            </div><!--End Our Mission-->
            <!--Begin FAQ-->

            <div class="stripe">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="page-header">
                                <h1>Frequently Asked Questions <small>how Safeharbor helps with DMCA compliance</small></h1>
                            </div>
                        </div>
                    </div>

                    <div class="row questions">
                        <div class="span6">
                            <h3>How does the service work?</h3>

                            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                            <h3>How do I get started?</h3>

                            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                            
                        </div>

                        <div class="span6">
                            <h3>Why it's so important to get it right</h3>

                            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                            <h3>How our service affects the bigger picture</h3>

                            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                                                 </div>
                    </div>
                </div>
            </div><!--End FAQ -->
            
            <!--Begin Our Team -->
            
            <div class="stripe">
<div class="container">
	<div class="row">
		<div class="span12">
			<div class="page-header"><h1>Our team</h1></div>
		</div>
	</div>	
	<div id="about" class="row">
		<div class="span4">
			<img src="http://placehold.it/260x300" class="thumbnail" />
			<h4>Lucas Gonze</h4>
			<p class="sub">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
		</div>
		<div class="span4">
			<img src="http://placehold.it/260x300" class="thumbnail" />
			<h4>Nicole Lafayette Young</h4>
			<p class="sub">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
		</div>
			</div>
</div>
</div>
<div class="stripe">
	<div class="container">
	<div id="team-desc" class="row">
		<div class="span10 offset1">
			<h2>We care about Copyright</h2>
		</div>
		<div class="span5 offset1">
			<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p> 
			<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
		</div>
		<div class="span5">
			<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
			<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
		</div>
	</div>
</div>
</div>
            <!--End Our Team  -->

            <!--Begin Contact Us, Form Letter -->

            <div class="stripe">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="page-header">
                                <h1>Send us a message <small>when it comes to DMCA compliance we're here to help</small></h1>
                            </div>
                        </div>
                    </div>

                    <div id="contact" class="row">
                        <div class="span8">
                            <form>
                                <label for="name">Your name (required):</label> <input type="text" name="name" class="span5"> <label for="email">Your email (required):</label> <input type="text" name="email" class="span5"> <label for="message">Message (required):</label> 
                                <textarea name="message" class="span5">
</textarea><br>
                                <input type="submit" name="Submit" value="Send Message" class="btn">
                            </form>
                        </div>

                        <div id="contact-details" class="span3">
                            <div>
                                <h3>Get in touch</h3>

                                <p>There are many ways to get in touch with us.</p>

                                <ul>
                                    <li><a href="">415.967.1342</a></li>

                                    <li><a href="">contact@SafeHarbor.in</a></li>

                                    <li><a href="">twitter.com/SafeHarbor.in</a></li>

                                    <li><a href="">Skype ID: Safeharbor</a></li>

                                    <li><a href="">facebook.com/safeharbor</a></li>
                                </ul>

                                <address>
                                    <strong>SafeHarbor.in, Inc.</strong><br>
                                    427 61st Street<br>
                                    Oakland, CA 94609, USA<br>
                                    <abbr title="Phone">P:</abbr> (415) 967-1342
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--End Contact Us, Form Letter -->
        </div>

        <footer>
            <footer>
                <div id="footer" class="stripe-color">
                    <div class="container">
                        <div class="row">
                            <div class="span3">
                                <h6>Contact us:</h6>

                                <address>
                                    <strong>SafeHarbor.in, Inc.</strong><br>
                                    427 61st Street<br>
                                    Oakland, CA 94609, USA<br>
                                    <abbr title="Phone">P:</abbr> (415) 967-1342
                                </address>
                            </div>

                            <div class="span3">
                                <h6>From the Blog</h6>

                                <p>Some Comment here about something</p>

                                <p class="sub">April 31st, 2012</p>

                                <p>A Comment from Lucas about Copyright</p>

                                <p class="sub">February 2nd, 2012</p>
                            </div>

                            <div class="span3">
                                <h6>From Facebook</h6>

                                <p>Latest additions to our team make us stronger, faster, better!</p>

                                <p class="sub">April 31st, 2012</p>

                                <p>Other Comment Here</p>

                                <p class="sub">March 20th, 2012</p>
                            </div>

                            <div class="span3">
                                <h6>From Twitter</h6>

                                <p><a href="">@SafeHarbor.in</a> Some Comment Here about Something someone said</p>

                                <p class="sub">One hour ago (12:32 PM)</p>

                                <p><a href="">@simon</a> way to go!</p>

                                <p class="sub">Two hours ago (11:45 AM)</p>
                            </div>
                        </div>

                        <div class="divider"></div>

                        <div class="row last">
                            <div class="span12">
                                <p class="sub">&copy; Safeharbor 2012</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer><script type="text/javascript" src="javascripts/jquery.js">
</script> <script type="text/javascript" src="javascripts/bootstrap-transition.js">
</script> <script type="text/javascript" src="javascripts/bootstrap-alert.js">
</script> <script type="text/javascript" src="javascripts/bootstrap-modal.js">
</script> <script type="text/javascript" src="javascripts/bootstrap-dropdown.js">
</script> <script type="text/javascript" src="javascripts/bootstrap-scrollspy.js">
</script> <script type="text/javascript" src="javascripts/bootstrap-tab.js">
</script> <script type="text/javascript" src="javascripts/bootstrap-tooltip.js">
</script> <script type="text/javascript" src="javascripts/bootstrap-popover.js">
</script> <script type="text/javascript" src="javascripts/bootstrap-button.js">
</script> <script type="text/javascript" src="javascripts/bootstrap-collapse.js">
</script> <script type="text/javascript" src="javascripts/bootstrap-carousel.js">
</script> <script type="text/javascript" src="javascripts/bootstrap-typeahead.js">
</script>
        </footer>
    </div>
</body>
</html>
