<div id="loginform" class="bigass centered {{loginStatus}}">
	
	<form action="/login" method="post" id="loginform">
		<p class="upper">Email address:</p>
		<p><input type="text" placeholder="your-email@example.com" autofocus required name="email" id="mrfoo"></p>
		<p class="upper">Password:</p>
		<p><input type="password" placeholder="***" required name="password"></p>
		<p><input type="submit" class="btn btn-primary btn-large" value="Log in"></p>
	</form>
	<p><a href="fixme?todo=recover%20password" class="btn">Lost password</a></p>
	<p><a href="/reg" class="btn">Create account</a></p>
</div>

